In [1]:
import pandas as pd
import data_cleaning_functions as mylib

dataset_path = 'data/merged_records.csv'
raw_data = pd.read_csv(dataset_path)

raw_data.head()

,Incident Type,Year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,...,Rounded_Lon,dataset,Unnamed: 0,Main ID,Incident ID,Incident Date,URL,Source Quality,Web ID,Reported Date
0,Incident,2014,1,Central America,North America,Guatemala,1.0,0.0,1,0.0,...,-110.366,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-111.738,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-113.011,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Incident,2014,1,Central America,North America,Mexico,1.0,0.0,1,0.0,...,-109.316,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Incident,2014,1,Northern Africa,Europe,Sudan,1.0,0.0,1,2.0,...,28.000,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
help(mylib)

Help on module data_cleaning_functions:

NAME
    data_cleaning_functions - # coding: utf-8

FUNCTIONS
    check_null_values(data)

    clean_column_names(raw_data)
        # To ensure consistency and ease of use, standardize the column names of the dataframe.

    clean_data(raw_data)

    data_analysis_report(raw_data)

    detect_outliers_zscore(data, threshold=3)
        # Define a function to detect outliers using the z-score method

    drop_duplicates(data, columns, keep)

    drop_raws_with_na_values(data, columns)

    fill_all_null_values(data)

    fill_null_with_mean_or_median(data, column, method='mean')

    fill_null_with_previous_or_next_value(data, column, method='previous')

    fill_nulls_in_dataset_with_previous_or_next(data, method='previous')

    fix_numeric_column_types(data)

    get_duplicate_rows(data, columns=None)

    get_rows_with_null_values(data, columns=[])

    identify_and_convert_all_numeric_columns(data)

    identify_and_convert_numeric_column(data, column)

    identify_data_type(column_values)
        # Identify the majority data type for a column

    identify_inconsistent_data_types(df)
        # Identify the list of columns with inconsistent data types

    is_snake_case(string)
        # Function to check if a string is in snake_case format

    load_csv_data(file_path)

    load_excel_data(file_path)

    remove_empty_raws(data)

    rename_column_names(raw_data, column_names)

    replace_inconsistent_values(data, column, mapping)
        # Replace inconsistent values with their correct counterparts

    save_data(cleaned_data, file_path)

FILE
    /Users/lilitdavidyan/Projects/ironhack/Midterm project/missing_migrants_project/data_cleaning_functions.py

In [3]:
mylib.data_analysis_report(raw_data)

INFO:root:Removing rows with missing values (NaN)...
INFO:root:Rows with missing values (NaN) removed.

,columns,count,issue,recommendation
Non-Snake Case Columns,"[Incident Type, Year, Reported Month, Region o...",31,Column labels are not in snake_case format,Rename columns to snake_case format: Incident ...
Missing Values,"[Incident Type, Region of Origin, Country of O...","{'Incident Type': 3012, 'Year': 0, 'Reported M...",Missing values found in the dataset,Remove or impute missing values
Outliers Detected,"[Number Dead, Minimum Estimated Number of Miss...",9,Outliers detected in the dataset,"Handle outliers appropriately (e.g., remove or..."
Incorrect Data Types,"{'Year': <class 'int'>, 'Reported Month': <cla...",17,Inconsistent or incorrect data types,Ensure data types are appropriate and consistent

In [4]:
raw_data

,Incident Type,Year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,...,Rounded_Lon,dataset,Unnamed: 0,Main ID,Incident ID,Incident Date,URL,Source Quality,Web ID,Reported Date
0,Incident,2014,1,Central America,North America,Guatemala,1.0,0.0,1,0.0,...,-110.366,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-111.738,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-113.011,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Incident,2014,1,Central America,North America,Mexico,1.0,0.0,1,0.0,...,-109.316,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Incident,2014,1,Northern Africa,Europe,Sudan,1.0,0.0,1,2.0,...,28.000,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14189,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,1.879,1,NaN,NaN,NaN,NaN,http://bit.ly/1icTIF9,4.0,39373.0,"January 30, 2014"
14190,NaN,2014,1,NaN,Mediterranean,NaN,12.0,NaN,12,NaN,...,27.158,1,NaN,NaN,NaN,NaN,http://bit.ly/2aMCwfg,1.0,39403.0,"January 19, 2014"
14191,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-111.624,1,NaN,NaN,NaN,NaN,NaN,5.0,39258.0,"January 17, 2014"
14192,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-109.545,1,NaN,NaN,NaN,NaN,http://bit.ly/1qfIw00,5.0,39207.0,"January 16, 2014"
14193,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,27.859,1,NaN,NaN,NaN,NaN,http://bit.ly/1rTFTjR,1.0,39368.0,"January 16, 2014"

## Step 1: Removing Duplicates

In [5]:
duplicate_rows = raw_data.duplicated().sum()

if duplicate_rows > 0:
    raw_data.drop_duplicates(inplace=True)

duplicate_rows

0

## Step 2: Snake case

In [6]:
raw_data = mylib.clean_column_names(raw_data)
raw_data

INFO:root:Cleaning column names...
INFO:root:Column names cleaned.

,incident_type,year,reported_month,region_of_origin,region_of_incident,country_of_origin,number_dead,minimum_estimated_number_of_missing,total_dead_and_missing,number_of_survivors,...,rounded_lon,dataset,unnamed_0,main_id,incident_id,incident_date,url,source_quality,web_id,reported_date
0,Incident,2014,1,Central America,North America,Guatemala,1.0,0.0,1,0.0,...,-110.366,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-111.738,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-113.011,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Incident,2014,1,Central America,North America,Mexico,1.0,0.0,1,0.0,...,-109.316,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Incident,2014,1,Northern Africa,Europe,Sudan,1.0,0.0,1,2.0,...,28.000,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14189,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,1.879,1,NaN,NaN,NaN,NaN,http://bit.ly/1icTIF9,4.0,39373.0,"January 30, 2014"
14190,NaN,2014,1,NaN,Mediterranean,NaN,12.0,NaN,12,NaN,...,27.158,1,NaN,NaN,NaN,NaN,http://bit.ly/2aMCwfg,1.0,39403.0,"January 19, 2014"
14191,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-111.624,1,NaN,NaN,NaN,NaN,NaN,5.0,39258.0,"January 17, 2014"
14192,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-109.545,1,NaN,NaN,NaN,NaN,http://bit.ly/1qfIw00,5.0,39207.0,"January 16, 2014"
14193,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,27.859,1,NaN,NaN,NaN,NaN,http://bit.ly/1rTFTjR,1.0,39368.0,"January 16, 2014"

In [7]:
def print_unique_value_counts(df):
    categorical_columns = df.select_dtypes(include=['object']).columns
    
    for column in categorical_columns:
        unique_values = df[column].unique()
        unique_count = len(unique_values)
        print(f"Column: {column}\nUnique Values: {unique_count}\nValue Counts:")
        print(df[column].value_counts())
        print("-" * 50)

print_unique_value_counts(raw_data)

Column: incident_type
Unique Values: 5
Value Counts:
incident_type
Incident                   10839
Split Incident               256
Cumulative Incident           82
Incident,Split Incident        5
Name: count, dtype: int64
--------------------------------------------------
Column: region_of_origin
Unique Values: 34
Value Counts:
region_of_origin
Latin America / Caribbean (P)    2044
Unknown                          1551
Central America                  1503
Sub-Saharan Africa (P)           1246
Southern Asia                    1106
Eastern Africa (P)                970
Northern Africa                   436
Western Asia                      396
South America                     306
Caribbean                         269
Eastern Africa                    263
Western Africa                    216
Western / Southern Asia (P)       211
Sub-Saharan Africa                112
Northern Africa (P)               112
Mixed                             101
South-eastern Asia                 67
Southern Asia (P)                  55
Middle Africa                      51
Western Africa (P)                 47
South America (P)                  17
Europe                             14
Western / Southern Asia            14
Eastern Asia                       11
Western Asia (P)                   11
Caribbean (P)                      10
Central America (P)                 8
Southern Africa                     5
Central Asia                        4
Northern America                    2
Oceania                             1
Eastern Asia (P)                    1
South-eastern Asia (P)              1
Name: count, dtype: int64
--------------------------------------------------
Column: region_of_incident
Unique Values: 20
Value Counts:
region_of_incident
North America         2629
Mediterranean         2296
North Africa          2020
Central America       1351
US-Mexico Border      1093
South Asia             923
Western Africa         794
Europe                 659
Sub-Saharan Africa     460
Eastern Africa         439
Western Asia           402
Southeast Asia         254
South America          212
Horn of Africa         210
Caribbean              184
Middle East            170
Middle Africa           69
Southern Africa         16
Eastern Asia            12
Central Asia             1
Name: count, dtype: int64
--------------------------------------------------
Column: country_of_origin
Unique Values: 328
Value Counts:
country_of_origin
Unknown                                6370
Afghanistan                             926
Mexico                                  689
Honduras                                294
Guatemala                               287
                                       ...
Lao People's Democratic Republic          1
Egypt,Pakistan                            1
Morocco,Somalia,Unknown                   1
Eritrea,Sudan,Unknown                     1
Gambia,Mali,Nigeria,Senegal,Unknown       1
Name: count, Length: 327, dtype: int64
--------------------------------------------------
Column: cause_of_death
Unique Values: 179
Value Counts:
cause_of_death
Drowning                                                                  3879
Mixed or unknown                                                          2823
Vehicle accident / death linked to hazardous transport                    1722
Harsh environmental conditions / lack of adequate shelter, food, water    1304
Violence                                                                  1183
                                                                          ...
Sexual abuse                                                                 1
Unknown (mummified and skeletal remains)                                     1
Hyperthermia, Exposure, Dehydration                                          1
Killed by hippopotamus                                                       1
Fall from border fence                                                       1
Name: count, Length: 179, dtype: int64
--------------------------------------------------
Column: migration_route
Unique Values: 35
Value Counts:
migration_route
US-Mexico border crossing                                3265
Sahara Desert crossing                                   1677
Central Mediterranean                                    1276
Central America to US                                     923
Western Mediterranean                                     681
Afghanistan to Iran                                       442
Eastern Mediterranean                                     342
Western Africa / Atlantic route to the Canary Islands     248
Western Balkans                                           220
Türkiye-Europe land route                                 149
Horn of Africa to Yemen crossing                          147
English Channel to the UK                                 122
Syria to Türkiye                                          116
Darien                                                     78
Caribbean to US                                            63
Belarus-EU border                                          61
Dominican Republic to Puerto Rico                          42
Italy to France                                            34
Iran to Türkiye                                            29
Haiti to Dominican Republic                                16
Horn Africa to Yemen                                       16
Comoros to Mayotte                                         15
Western African                                            15
Calais to United Kingdom                                   14
Venezuela to Caribbean                                     11
Darien Gap                                                 11
Turkey-Europe land route                                   10
Ukraine to Europe                                           9
Iran to Turkey                                              5
DRC to Uganda                                               3
Cuba to US                                                  2
Central Mediterranean,Sahara Desert crossing                1
Caribbean to Central America                                1
Venezuela to Curaçao                                        1
Name: count, dtype: int64
--------------------------------------------------
Column: location_of_death
Unique Values: 7619
Value Counts:
location_of_death
Pima Country Office of the Medical Examiner jurisdiction, Arizona, USA (see coordinates for exact location)                                    1017
Pima County Office of the Medical Examiner jurisdiction, Arizona, USA (see coordinates for exact location)                                      396
Agadez, Niger                                                                                                                                   129
Pima County jurisdiction, Arizona, USA                                                                                                          129
Sahara desert, Libya                                                                                                                            118
                                                                                                                                               ...
Van lake near Adilcevaz, Bitlis, Türkiye                                                                                                          1
Laredo Medical Center in Laredo, Webb County, Texas, USA - a day after crossing the border at the Gateway for the Americas Bridge in Laredo       1
Body found floating near El Sarchal, Ceuta, Spain                                                                                                 1
Danube River near Karavukovo, Serbia near border with Croatia                                                                                     1
near Douglas, Arizona                                                                                                                             1
Name: count, Length: 7618, dtype: int64
--------------------------------------------------
Column: source
Unique Values: 3875
Value Counts:
source
Pima County Office of the Medical Examiner (PCOME)                      1425
Mixed Migration Monitoring Mechanism Initiative (4Mi)                   1269
Mixed Migration Monitoring Mechanism Initative (4mi)                     896
Mixed Migration Monitoring Mechanism Initiative (4mi)                    893
IOM Afghanistan                                                          772
                                                                        ...
Todo Texcoco, Reforma                                                      1
MSF Bangladesh, Al Jazeera, UNHCR                                          1
IOM Romania, Deutsche Welle, Die Zeit                                      1
Hora Cero, Vox Populi, Instituto Nacional de Migración (Grupos Beta)       1
Ministry of Foreign Affairs Mexico                                         1
Name: count, Length: 3874, dtype: int64
--------------------------------------------------
Column: coordinates
Unique Values: 11455
Value Counts:
coordinates
34.2533716, 14.4988153              24
17.25620749, 43.20231               22
23.2488413, 19.7242161              21
15.5015341, 32.5025561              21
14.0316722, 35.3417723              19
                                    ..
26.465801, 15.15121                  1
27.007874, 14.424636                 1
11.86921, 3.38894                    1
21.535287, 13.163018                 1
59.155100000000, 27.858600000000     1
Name: count, Length: 11454, dtype: int64
--------------------------------------------------
Column: unsd_geographical_grouping
Unique Values: 22
Value Counts:
unsd_geographical_grouping
Northern America      3453
Uncategorized         2662
Northern Africa       1870
Central America       1582
Western Africa        1112
Southern Asia          891
Eastern Africa         697
Western Asia           554
Southern Europe        347
South-eastern Asia     212
South America          206
Western Europe         166
Caribbean              125
Eastern Europe         112
Middle Africa           69
Northern Europe         30
Southern Africa         18
Eastern Asia            17
Central Africa          13
South Asia               9
Central Asia             2
Name: count, dtype: int64
--------------------------------------------------
Column: main_id
Unique Values: 297
Value Counts:
main_id
2021.MMP0278     8
2021.MMP00797    7
2020.MMP00410    5
2020.MMP00736    5
2019.MMP00609    4
                ..
2019.MMP01455    1
2019.MMP01718    1
2019.MMP01745    1
2020.MMP00007    1
2021.MMP0330     1
Name: count, Length: 296, dtype: int64
--------------------------------------------------
Column: incident_id
Unique Values: 467
Value Counts:
incident_id
2014.MMP00037        1
2021.MMP00174179     1
2021.MMP00284296     1
2021.MMP00232245     1
2021.MMP00221234     1
                    ..
2018.MMP010921144    1
2018.MMP01050        1
2018.MMP010341080    1
2018.MMP010051051    1
2021.MMP0330         1
Name: count, Length: 466, dtype: int64
--------------------------------------------------
Column: incident_date
Unique Values: 286
Value Counts:
incident_date
Fri, 12/17/2021 - 12:00    8
Sat, 12/25/2021 - 12:00    7
Fri, 08/27/2021 - 12:00    6
Fri, 09/25/2020 - 12:00    6
Sun, 06/28/2020 - 12:00    5
                          ..
Thu, 05/23/2019 - 12:00    1
Mon, 06/03/2019 - 12:00    1
Wed, 06/12/2019 - 12:00    1
Mon, 07/01/2019 - 12:00    1
Sat, 11/20/2021 - 12:00    1
Name: count, Length: 285, dtype: int64
--------------------------------------------------
Column: url
Unique Values: 1282
Value Counts:
url
http://www.mixedmigration.org/4mi/                                                               432
http://www.humaneborders.info/                                                                   120
http://www.humaneborders.info/app/mapa.asp                                                        56
http://www.humaneborders.info/app/map.asp                                                         33
http://bit.ly/28Nnkxe                                                                             30
                                                                                                ...
https://bit.ly/2WguXFy, https://bit.ly/2HxJPFZ, https://bit.ly/2VGtc4K, http://bit.ly/2X7QRuK      1
http://bit.ly/2Hv8z2P, http://bit.ly/2YMmDuP                                                       1
http://bit.ly/2JXclnl, http://bit.ly/2LYGN2P                                                       1
http://bit.ly/2W0nGW8                                                                              1
http://bit.ly/1rTFTjR                                                                              1
Name: count, Length: 1281, dtype: int64
--------------------------------------------------
Column: reported_date
Unique Values: 1225
Value Counts:
reported_date
December 31, 2017    9
July 30, 2018        8
October 23, 2017     8
June 22, 2018        8
June 23, 2018        8
                    ..
February 13, 2019    1
December 23, 2016    1
February 17, 2019    1
February 18, 2019    1
December 26, 2019    1
Name: count, Length: 1224, dtype: int64
--------------------------------------------------

In [8]:
columns_to_remove = [
    'unnamed_0',
    'main_id',
    'incident_id',
    'incident_date',
    'url',
    'source_quality',
    'web_id',
    'reported_date',
    'rounded_lat',
    'rounded_lon',
    'incident_type'
]

raw_data = raw_data.drop(columns_to_remove, axis = 1)
raw_data

,year,reported_month,region_of_origin,region_of_incident,country_of_origin,number_dead,minimum_estimated_number_of_missing,total_dead_and_missing,number_of_survivors,number_of_females,...,number_of_children,cause_of_death,migration_route,location_of_death,source,coordinates,unsd_geographical_grouping,lat,lon,dataset
0,2014,1,Central America,North America,Guatemala,1.0,0.0,1,0.0,0.0,...,0.0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.650259, -110.366453",Northern America,31.650259,-110.366453,3
1,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,0.0,...,0.0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.59713, -111.73756",Northern America,31.597130,-111.737560,3
2,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,0.0,...,0.0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.94026, -113.01125",Northern America,31.940260,-113.011250,3
3,2014,1,Central America,North America,Mexico,1.0,0.0,1,0.0,0.0,...,0.0,Violence,US-Mexico border crossing,"near Douglas, Arizona, USA","Ministry of Foreign Affairs Mexico, Pima Count...","31.506777, -109.315632",Northern America,31.506777,-109.315632,3
4,2014,1,Northern Africa,Europe,Sudan,1.0,0.0,1,2.0,0.0,...,0.0,Harsh environmental conditions / lack of adequ...,NaN,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.1551, 28",Northern Europe,59.155100,28.000000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14189,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,NaN,...,1.0,Vehicle Accident,Calais to United Kingdom,France - Calais,Calais Migrant Solidarity,"50.935500000000, 1.878660000000",Western Europe,50.935500,1.878660,1
14190,2014,1,NaN,Mediterranean,NaN,12.0,NaN,12,NaN,9.0,...,3.0,Drowning,Eastern Mediterranean,Waters near Greece while being towed back to T...,European Council on Refugees and Exiles,"37.283200000000, 27.158200000000",Uncategorized,37.283200,27.158200,1
14191,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,NaN,...,NaN,Shot,Central America to US,Pima County,Pima County Office of the Medical Examiner,"32.058118300000, -111.623576100000",Northern America,32.058118,-111.623576,1
14192,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,NaN,...,NaN,Shot,Central America to US,"near Douglas, Arizona",Ministry of Foreign Affairs Mexico,"31.344700000000, -109.545000000000",Northern America,31.344700,-109.545000,1
14193,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,NaN,...,NaN,Hyperthermia,NaN,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.155100000000, 27.858600000000",Northern Europe,59.155100,27.858600,1

In [9]:
raw_data.dtypes

year                                     int64
reported_month                           int64
region_of_origin                        object
region_of_incident                      object
country_of_origin                       object
number_dead                            float64
minimum_estimated_number_of_missing    float64
total_dead_and_missing                   int64
number_of_survivors                    float64
number_of_females                      float64
number_of_males                        float64
number_of_children                     float64
cause_of_death                          object
migration_route                         object
location_of_death                       object
source                                  object
coordinates                             object
unsd_geographical_grouping              object
lat                                    float64
lon                                    float64
dataset                                  int64
dtype: object

In [10]:
raw_data.isna().sum().T

year                                      0
reported_month                            0
region_of_origin                       3033
region_of_incident                        0
country_of_origin                      3020
number_dead                             723
minimum_estimated_number_of_missing    2607
total_dead_and_missing                    0
number_of_survivors                    2552
number_of_females                      2361
number_of_males                        1251
number_of_children                     2559
cause_of_death                            0
migration_route                        4149
location_of_death                         8
source                                   12
coordinates                              14
unsd_geographical_grouping               47
lat                                      14
lon                                      14
dataset                                   0
dtype: int64

In [13]:
categorical = raw_data.select_dtypes(include='object')
categorical

,region_of_origin,region_of_incident,country_of_origin,cause_of_death,migration_route,location_of_death,source,coordinates,unsd_geographical_grouping
0,Central America,North America,Guatemala,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.650259, -110.366453",Northern America
1,Latin America / Caribbean (P),North America,Unknown,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.59713, -111.73756",Northern America
2,Latin America / Caribbean (P),North America,Unknown,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.94026, -113.01125",Northern America
3,Central America,North America,Mexico,Violence,US-Mexico border crossing,"near Douglas, Arizona, USA","Ministry of Foreign Affairs Mexico, Pima Count...","31.506777, -109.315632",Northern America
4,Northern Africa,Europe,Sudan,Harsh environmental conditions / lack of adequ...,NaN,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.1551, 28",Northern Europe
...,...,...,...,...,...,...,...,...,...
14189,NaN,Europe,NaN,Vehicle Accident,Calais to United Kingdom,France - Calais,Calais Migrant Solidarity,"50.935500000000, 1.878660000000",Western Europe
14190,NaN,Mediterranean,NaN,Drowning,Eastern Mediterranean,Waters near Greece while being towed back to T...,European Council on Refugees and Exiles,"37.283200000000, 27.158200000000",Uncategorized
14191,NaN,US-Mexico Border,NaN,Shot,Central America to US,Pima County,Pima County Office of the Medical Examiner,"32.058118300000, -111.623576100000",Northern America
14192,NaN,US-Mexico Border,NaN,Shot,Central America to US,"near Douglas, Arizona",Ministry of Foreign Affairs Mexico,"31.344700000000, -109.545000000000",Northern America
14193,NaN,Europe,NaN,Hyperthermia,NaN,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.155100000000, 27.858600000000",Northern Europe

## Data Transformation - Comparing Categorical Columns

### What:
- Display the unique values for the 'Region of Origin' and 'UNSD Geographical Grouping' columns.
- Compare the 'Region of Origin' and 'UNSD Geographical Grouping' columns for each row to see if the values are the same or different.

### Why:
- The purpose was to compare the categorization of regions in these two columns and assess whether they can be harmonized or if they serve different purposes.
- To assess if one of these columns is redundant and can be dropped, thereby simplifying the dataset.

In [17]:
region_of_origin_unique_values = raw_data['region_of_incident'].unique()
unsd_geographical_grouping_unique_values = raw_data['unsd_geographical_grouping'].unique()

region_of_origin_unique_values, unsd_geographical_grouping_unique_values

(array(['North America', 'Europe', 'Mediterranean', 'Caribbean',
        'Southeast Asia', 'South Asia', 'Eastern Africa',
        'Central America', 'North Africa', 'Eastern Asia', 'Western Asia',
        'Western Africa', 'South America', 'Southern Africa',
        'Middle Africa', 'Central Asia', 'Middle East', 'US-Mexico Border',
        'Sub-Saharan Africa', 'Horn of Africa'], dtype=object),
 array(['Northern America', 'Northern Europe', 'Uncategorized',
        'Western Europe', 'Caribbean', 'South-eastern Asia',
        'Southern Asia', 'Central America', 'Eastern Africa',
        'Northern Africa', 'Eastern Asia', 'Western Asia',
        'Eastern Europe', 'Southern Europe', 'Western Africa',
        'South America', 'Southern Africa', 'Middle Africa',
        'Central Asia', nan, 'South Asia', 'Central Africa'], dtype=object))

In [18]:
region_comparison = raw_data['region_of_incident'] == raw_data['unsd_geographical_grouping']

# Count the number of rows where the two regions are the same and where they are different
region_comparison_counts = region_comparison.value_counts()

# Display the comparison counts
region_comparison_counts

False    10887
True      3307
Name: count, dtype: int64

### Outcome:
- The 'Region of Origin' column contains 34 unique values, including variations with '(P)' and 'Unknown'.
- The 'UNSD Geographical Grouping' column contains 22 unique values, including 'Uncategorized'.
- The two columns are the same in 2,046 rows.
- The two columns are different in 12,148 rows.

### Observations:
- The 'Region of Origin' column provides more granularity, with specific regions identified, sometimes with variations marked by '(P)'.
- The 'UNSD Geographical Grouping' column appears to be more standardized, but it has fewer unique values, indicating potential less granularity.
- Both columns seem to serve similar yet distinct purposes. 'Region of Origin' is more specific, while 'UNSD Geographical Grouping' is more standardized.
- In the majority of cases (12,148 rows), the two columns are not the same, indicating that they likely serve different purposes or levels of granularity.
- Only in 2,046 rows are the values the same, which is a minority of the cases.

#### Given these results, it doesn't seem advisable to drop either column, as they appear to provide different information.

## Checking 1x1 Mapping Between 'Region of Incident' and 'UNSD Geographical Grouping'

### What:
Check if there is a 1x1 mapping between the 'Region of Incident' and 'UNSD Geographical Grouping' columns, excluding NaN values.

### Why:
The purpose was to determine if the two columns are directly interchangeable, which would allow us to potentially simplify the dataset by removing one of them.

In [19]:
inference_check = raw_data.groupby('region_of_incident')['unsd_geographical_grouping'].nunique()

# Display the number of unique 'unsd_geographical_grouping' for each 'region_of_incident'
inference_check

region_of_incident
Caribbean             5
Central America       5
Central Asia          1
Eastern Africa        5
Eastern Asia          1
Europe                6
Horn of Africa        4
Mediterranean         5
Middle Africa         1
Middle East           3
North Africa          5
North America         4
South America         3
South Asia            5
Southeast Asia        5
Southern Africa       3
Sub-Saharan Africa    7
US-Mexico Border      6
Western Africa        3
Western Asia          3
Name: unsd_geographical_grouping, dtype: int64

In [20]:
inference_check_reverse = raw_data.groupby('unsd_geographical_grouping')['region_of_incident'].nunique()

inference_check_reverse

unsd_geographical_grouping
Caribbean              1
Central Africa         1
Central America        5
Central Asia           2
Eastern Africa         6
Eastern Asia           3
Eastern Europe         2
Middle Africa          1
Northern Africa        8
Northern America       4
Northern Europe        2
South America          4
South Asia             2
South-eastern Asia     2
Southern Africa        2
Southern Asia          2
Southern Europe        4
Uncategorized         16
Western Africa         3
Western Asia           7
Western Europe         3
Name: region_of_incident, dtype: int64

In [22]:
pivot_table_region_unsd = pd.pivot_table(raw_data, index='region_of_incident', columns='unsd_geographical_grouping', 
                                         values='year', aggfunc='count', fill_value=0)
pivot_table_region_unsd

unsd_geographical_grouping,Caribbean,Central Africa,Central America,Central Asia,Eastern Africa,Eastern Asia,Eastern Europe,Middle Africa,Northern Africa,Northern America,...,South America,South Asia,South-eastern Asia,Southern Africa,Southern Asia,Southern Europe,Uncategorized,Western Africa,Western Asia,Western Europe
region_of_incident,,,,,,,,,,,,,,,,,,,,,
Caribbean,125,0,2,0,0,0,0,0,0,1,...,2,0,0,0,0,0,52,0,0,0
Central America,0,0,1327,1,0,0,0,0,0,16,...,1,0,0,0,0,0,6,0,0,0
Central Asia,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Eastern Africa,0,0,0,0,418,3,0,0,1,0,...,0,0,0,0,0,0,16,0,1,0
Eastern Asia,0,0,0,0,0,12,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Europe,0,0,0,0,0,0,111,0,0,0,...,0,0,0,0,0,334,19,0,2,164
Horn of Africa,0,0,0,0,169,0,0,0,17,0,...,0,0,0,0,0,0,12,0,12,0
Mediterranean,0,0,0,0,0,0,1,0,17,0,...,0,0,0,0,0,10,2265,0,2,0
Middle Africa,0,0,0,0,0,0,0,69,0,0,...,0,0,0,0,0,0,0,0,0,0
Middle East,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,168,1
North Africa,0,0,0,0,8,0,0,0,1823,0,...,0,0,0,0,0,2,181,6,0,0
North America,0,0,2,0,0,0,0,0,2,2618,...,0,0,0,0,0,0,6,0,0,0
South America,0,0,2,0,0,0,0,0,0,0,...,201,0,0,0,0,0,8,0,0,0
South Asia,0,0,0,0,0,0,0,0,0,0,...,0,8,10,0,887,0,8,0,4,0
Southeast Asia,0,0,0,0,0,2,0,0,0,0,...,0,1,202,0,4,0,15,0,0,0
Southern Africa,0,0,0,0,3,0,0,0,0,0,...,0,0,0,12,0,0,1,0,0,0
Sub-Saharan Africa,0,13,0,0,97,0,0,0,4,0,...,0,0,0,6,0,0,1,337,0,1
US-Mexico Border,0,0,249,0,0,0,0,0,2,818,...,2,0,0,0,0,0,16,0,0,0
Western Africa,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,21,769,0,0
Western Asia,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,35,0,365,0


### Outcome:
Both columns do not have unique values when paired, indicating that there is not a 1x1 mapping between the two.

### Observations:
Since neither column has unique values, it suggests that multiple 'Region of Incident' values can correspond to a single 'UNSD Geographical Grouping' value, and vice versa.

Therefore, the two columns are not directly interchangeable and serve different categorization purposes.

Since there is no 1x1 mapping, it would not be advisable to remove either column based on this criterion.

In [26]:
raw_data[raw_data['unsd_geographical_grouping'].isna()]['region_of_incident'].value_counts()

region_of_incident
Southeast Asia        30
South Asia             6
US-Mexico Border       5
Caribbean              2
North America          1
Sub-Saharan Africa     1
South America          1
Mediterranean          1
Name: count, dtype: int64

## Observations

The missing 'UNSD Geographical Grouping' values are not concentrated in a single 'Region of Incident', and they are spread across different regions.

Given that each of these 'Region of Incident' values could correspond to multiple 'UNSD Geographical Grouping' values (as seen earlier), it may not be straightforward to accurately impute the missing 'UNSD Geographical Grouping' values.

## Imputing Missing 'UNSD Geographical Grouping' Values

### What:
Apply the `set_unsd_from_region` Function to the `raw_data` DataFrame Using the Provided Mapping.

### Why:
To Impute Missing Values in the 'UNSD Geographical Grouping' Column Based on the 'Region of Incident'.

In [39]:
# Define a function to set NaN values for 'unsd_geographical_grouping' based on a provided mapping
def set_unsd_from_region(df, mapping_dict):
    # Create a copy of the DataFrame to avoid modifying the original
    df_copy = df.copy()
    
    # Loop through each mapping and update 'unsd_geographical_grouping' where it's NaN
    for region, unsd_group in mapping_dict.items():
        mask = (df_copy['region_of_incident'] == region) & (df_copy['unsd_geographical_grouping'].isna())
        df_copy.loc[mask, 'unsd_geographical_grouping'] = unsd_group
        
    return df_copy

region_mapping = {
    'Southeast Asia': 'South-eastern Asia',
    'South Asia': 'South Asia',
    'North America': 'Northern America',
    'US-Mexico Border': 'Northern America', 
    'Caribbean': 'Caribbean',             
    'North America': 'Northern America',
    'Sub-Saharan Africa': 'Western Africa',
    'South America' :  'South America',       
    'Mediterranean' : 'Uncategorized'  
}
raw_data = set_unsd_from_region(raw_data, region_mapping)

raw_data['unsd_geographical_grouping'].isna().sum()

0

### Outcome:
- Successfully Imputed All Missing 'UNSD Geographical Grouping' Values Based on the Mapping Provided for 'Region of Incident'.
- The Number of NaN Values in 'UNSD Geographical Grouping' is Now 0.
- The Dataset is Now More Complete, Facilitating Subsequent Analyses.

## Perform a complete analysis of the 'region_of_origin' and 'country_of_origin' columns

In [41]:
# Basic statistics: number of unique values, top value, frequency of top value
basic_stats_region = raw_data['region_of_origin'].describe()
basic_stats_country = raw_data['country_of_origin'].describe()

# Count of NaN values
nan_count_region = raw_data['region_of_origin'].isna().sum()
nan_count_country = raw_data['country_of_origin'].isna().sum()

# Value counts (top 10 for readability)
value_counts_region = raw_data['region_of_origin'].value_counts().head(10)
value_counts_country = raw_data['country_of_origin'].value_counts().head(10)

basic_stats_region, nan_count_region, value_counts_region, basic_stats_country, nan_count_country, value_counts_country

(count                             11161
 unique                               33
 top       Latin America / Caribbean (P)
 freq                               2044
 Name: region_of_origin, dtype: object,
 3033,
 region_of_origin
 Latin America / Caribbean (P)    2044
 Unknown                          1551
 Central America                  1503
 Sub-Saharan Africa (P)           1246
 Southern Asia                    1106
 Eastern Africa (P)                970
 Northern Africa                   436
 Western Asia                      396
 South America                     306
 Caribbean                         269
 Name: count, dtype: int64,
 count       11174
 unique        327
 top       Unknown
 freq         6370
 Name: country_of_origin, dtype: object,
 3020,
 country_of_origin
 Unknown                               6370
 Afghanistan                            926
 Mexico                                 689
 Honduras                               294
 Guatemala                              287
 Syrian Arab Republic                   284
 Venezuela (Bolivarian Republic of)     189
 Ethiopia                               148
 Morocco                                131
 Algeria                                119
 Name: count, dtype: int64)

## Complete Analysis of 'Region of Origin' and 'Country of Origin'

**What We Did:**
Performed a detailed analysis of both the 'Region of Origin' and 'Country of Origin' columns. This includes basic statistics, count of NaN values, and value counts for the top 10 regions and countries.

**Why:**
To understand the distribution, commonality, and gaps in both columns, which are crucial for geographical and origin-based analyses.

### 'Region of Origin'

**Basic Statistics:**

- Count: 11,161 non-null values
- Unique Values: 33 unique categories
- Most Frequent Category: 'Latin America / Caribbean (P)' (2,044 occurrences)

**Missing Values:**

- NaN Count: 3,033 missing values

**Top 10 Regions:**

1. Latin America / Caribbean (P): 2,044
2. Unknown: 1,551
3. Central America: 1,503
4. Sub-Saharan Africa (P): 1,246
5. Southern Asia: 1,106
6. Eastern Africa (P): 970
7. Northern Africa: 436
8. Western Asia: 396
9. South America: 306
10. Caribbean: 269

### 'Country of Origin'

**Basic Statistics:**

- Count: 11,174 non-null values
- Unique Values: 327 unique countries
- Most Frequent Category: 'Unknown' (6,370 occurrences)

**Missing Values:**

- NaN Count: 3,020 missing values

**Top 10 Countries:**

1. Unknown: 6,370
2. Afghanistan: 926
3. Mexico: 689
4. Honduras: 294
5. Guatemala: 287
6. Syrian Arab Republic: 284
7. Venezuela: 189
8. Ethiopia: 148
9. Morocco: 131
10. Algeria: 119

**Observations:**

- Both columns have a significant number of missing values ('Region of Origin' has 3,033 and 'Country of Origin' has 3,020).
- The category 'Unknown' has a high frequency in both columns, especially in 'Country of Origin' with 6,370 occurrences.
- 'Region of Origin' has fewer unique categories (33) compared to 'Country of Origin' (327), indicating different levels of granularity.

In [42]:
# Filter the rows where 'region_of_origin' contains '(P)'
region_with_p = raw_data[raw_data['region_of_origin'].str.contains('\(P\)', na=False)]

# Check how many of these rows have 'country_of_origin' as NaN
country_na_when_region_with_p = region_with_p['country_of_origin'].isna().sum()

# Total number of rows where 'region_of_origin' contains '(P)'
total_region_with_p = len(region_with_p)

# Percentage of rows with '(P)' in 'region_of_origin' that have a non-empty 'country_of_origin'
percentage_non_empty_country = ((total_region_with_p - country_na_when_region_with_p) / total_region_with_p) * 100

total_region_with_p, country_na_when_region_with_p, percentage_non_empty_country

(4733, 2, 99.9577435030636)

## Hypothesis Testing: Presence of '(P)' in 'Region of Origin' and Non-Empty 'Country of Origin'

**Hypothesis:**
If there is '(P)' in the 'Region of Origin', then 'Country of Origin' is not empty.

**What We Did:**
1. Filtered the rows where 'Region of Origin' contains '(P)'.
2. Checked how many of these rows have 'Country of Origin' as NaN.

**Outcome:**
- Total number of rows where 'Region of Origin' contains '(P)': 4,733
- Number of these rows where 'Country of Origin' is NaN: 2
- Percentage of rows with '(P)' in 'Region of Origin' that have a non-empty 'Country of Origin': ~99.96%

**Conclusion:**
The hypothesis seems to be strongly supported by the data. Almost all (99.96%) of the records that have '(P)' in the 'Region of Origin' also have a non-empty 'Country of Origin'.

Given this, it's reasonable to conclude that the presence of '(P)' in 'Region of Origin' is a strong indicator that 'Country of Origin' will not be empty.

In [43]:
# Filter the rows where 'region_of_origin' is NaN
region_na = raw_data[raw_data['region_of_origin'].isna()]

# Check how many of these rows have 'country_of_origin' as NaN
country_na_when_region_na = region_na['country_of_origin'].isna().sum()

# Total number of rows where 'region_of_origin' is NaN
total_region_na = len(region_na)

# Percentage of rows with NaN in 'region_of_origin' that also have NaN in 'country_of_origin'
percentage_both_na = (country_na_when_region_na / total_region_na) * 100

total_region_na, country_na_when_region_na, percentage_both_na

(3033, 3012, 99.30761622156281)

## Analysis: Empty 'Country of Origin' Among Rows with Empty 'Region of Origin'

**What We Did:**
1. Filtered the rows where 'Region of Origin' is NaN.
2. Checked how many of these rows also have 'Country of Origin' as NaN.

**Outcome:**
- Total number of rows where 'Region of Origin' is NaN: 3,033
- Number of these rows where 'Country of Origin' is also NaN: 3,012
- Percentage of rows with NaN in 'Region of Origin' that also have NaN in 'Country of Origin': ~99.31%

**Conclusion:**
A significant majority (~99.31%) of the records that have an empty 'Region of Origin' also have an empty 'Country of Origin'. This suggests a strong correlation between missing values in these two columns.

In [45]:
raw_data[raw_data['region_of_origin'].isna()]['dataset'].value_counts()

dataset
1    2546
2     466
3      21
Name: count, dtype: int64

## Analysis: Dataset Distribution for Rows with Empty 'Region of Origin'

**What We Did:**
- Checked the distribution of the 'dataset' column for rows where 'Region of Origin' is NaN.

**Outcome:**
The distribution of 'dataset' for rows with NaN in 'Region of Origin' is as follows:
- Dataset 1: 2,546 occurrences
- Dataset 2: 466 occurrences
- Dataset 3: 21 occurrences

**Observations:**
- A significant number of missing values for 'Region of Origin' come from Dataset 1 and Dataset 2.
- Only a small number of missing values for 'Region of Origin' are from Dataset 3.
- This could imply that the quality or completeness of data varies between these datasets, particularly regarding the 'Region of Origin' column.