In [1]:
import pandas as pd

## Data Import and Initial Exploration

### Datasets Used:
1. `MissingMigrants-Global-2019-12-31_correct.csv`: The first dataset.
2. `MM_14_21.csv`: The second dataset.
3. `Global Missing Migrants Dataset 3.csv`: The third dataset.

### Reason:
Multiple datasets were used to obtain a comprehensive view of missing migrants across different dimensions and time frames.

### Operations:
1. Import the datasets into DataFrames.
2. Display basic information like shape and column names.

In [2]:
file_path = 'data/MissingMigrants-Global-2019-12-31_correct.csv'
missing_migrants_df = pd.read_csv(file_path)

In [3]:
missing_migrants_df

,Web ID,Region of Incident,Reported Date,Reported Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Location Description,Information Source,Location Coordinates,Migration Route,URL,UNSD Geographical Grouping,Source Quality
0,52673,Mediterranean,"December 30, 2019",2019,Dec,1.0,NaN,1,11.0,NaN,NaN,NaN,Hypothermia,Unspecififed location off the coast of Algeria,El Watan,"35.568972356329, -1.289773129748",Western Mediterranean,https://bit.ly/2FqQHo4,Uncategorized,1
1,52666,Mediterranean,"December 30, 2019",2019,Dec,1.0,NaN,1,NaN,NaN,1.0,NaN,Presumed drowning,"Recoverd on Calamorcarro Beach, Ceuta",El Foro de Ceuta,"35.912383552874, -5.357673338898",Western Mediterranean,https://bit.ly/39yKRyF,Uncategorized,1
2,52663,East Asia,"December 27, 2019",2019,Dec,5.0,NaN,5,NaN,NaN,3.0,NaN,Unknown,"Bodies found on boat near Sado Island, Niigata...","Japan Times, Kyodo News, AFP","38.154018233313, 138.086032653130",NaN,"http://bit.ly/2sCnBz1, http://bit.ly/2sEra83, ...",Eastern Asia,3
3,52662,Middle East,"December 26, 2019",2019,Dec,7.0,NaN,7,64.0,NaN,NaN,NaN,Drowning,"Van lake near Adilcevaz, Bitlis, Turkey","EFE, BBC, ARYnews","38.777228612085, 42.739257582031",NaN,"http://bit.ly/2ZG2Y19, http://bit.ly/2MLamDf, ...",Western Asia,3
4,52661,Middle East,"December 24, 2019",2019,Dec,12.0,NaN,12,NaN,NaN,NaN,NaN,Air strike,"Al-Raqw market in Saada, Yemen","UN Humanitarian Coordinator in Yemen, Qatar Tr...","17.245364805636, 43.239093360326",NaN,"http://bit.ly/2FjolvD, http://bit.ly/2sD42GR, ...",Western Asia,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5982,39207,US-Mexico Border,"January 16, 2014",2014,Jan,1.0,NaN,1,NaN,NaN,1.0,NaN,Shot,"near Douglas, Arizona",Ministry of Foreign Affairs Mexico,"31.344700000000, -109.545000000000",Central America to US,http://bit.ly/1qfIw00,Northern America,5
5983,39368,Europe,"January 16, 2014",2014,Jan,1.0,0.0,1,2.0,NaN,1.0,NaN,Hyperthermia,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.155100000000, 27.858600000000",NaN,http://bit.ly/1rTFTjR,Northern Europe,1
5984,39257,US-Mexico Border,"January 14, 2014",2014,Jan,1.0,NaN,1,NaN,NaN,NaN,NaN,Unknown (skeletal remains),Pima County,Pima County Office of the Medical Examiner,"32.058118300000, -111.623576100000",Central America to US,NaN,Northern America,5
5985,39256,US-Mexico Border,"January 12, 2014",2014,Jan,1.0,NaN,1,NaN,NaN,NaN,NaN,Unknown (skeletal remains),Pima County,Pima County Office of the Medical Examiner,"32.058118300000, -111.623576100000",Central America to US,NaN,Northern America,5
5986,39206,US-Mexico Border,"January 06, 2014",2014,Jan,1.0,NaN,1,NaN,NaN,1.0,NaN,Unknown (skeletal remains),Pima County,Humane Borders Arizona Open GIS Initiative,"32.058118300000, -111.623576100000",Central America to US,http://humaneborders.info/,Northern America,5

#### The table below provides an overview of the columns present in the first dataset along with their respective descriptions:

Column | Description
---------|----------
Web ID:  | A unique identifier for each record.
Region of Incident:  | The region where the incident occurred.
Reported Date:  | The date the incident was reported.
Reported Year:  | The year the incident was reported.
Reported Month:  | The month the incident was reported.
Number Dead:  | The number of people who died.
Minimum Estimated Number of Missing:  | The minimum estimated number of missing people.
Total Dead and Missing:  | The total number of dead and missing people.
Number of Survivors:  | The number of survivors.
Number of Females:  | The number of females involved.
Number of Males:  | The number of males involved.
Number of Children:  | The number of children involved.
Cause of Death:  | The cause of death.
Location Description:  | Description of the location where the incident occurred.
Information Source:  | The source of the information.
Location Coordinates:  | Coordinates of the location where the incident occurred.
Migration Route:  | The migration route involved.
URL:  | URL of the source.
UNSD Geographical Grouping:  | Geographical grouping according to the United Nations.
Source Quality:  | A rating for the quality of the source.

In [4]:
file_path_2 = 'data/MM_14_21.csv'
missing_migrants_df_2 = pd.read_csv(file_path_2)

In [5]:
missing_migrants_df_2

,Unnamed: 0,Main ID,Incident ID,Region,Incident Date,Year,Reported Month,Number Dead,Minimum Estimated Number of Missing,Total Number of Dead and Missing,...,Number of Males,Number of Children,Cause of Death,Location of death,Information Source,Coordinates,Migrantion route,URL,UNSD Geographical Grouping,Source Quality
0,0,2014.MMP00001,2014.MMP00001,North America,"Mon, 01/06/2014 - 12:00",2014,January,1.0,NaN,1,...,1.0,NaN,Mixed or unknown,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.650259, -110.366453",US-Mexico border crossing,http://humaneborders.info/,Northern America,5.0
1,1,2014.MMP00002,2014.MMP00002,North America,"Sun, 01/12/2014 - 12:00",2014,January,1.0,NaN,1,...,NaN,NaN,Mixed or unknown,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.59713, -111.73756",US-Mexico border crossing,NaN,Northern America,5.0
2,2,2014.MMP00003,2014.MMP00003,North America,"Tue, 01/14/2014 - 12:00",2014,January,1.0,NaN,1,...,NaN,NaN,Mixed or unknown,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.94026, -113.01125",US-Mexico border crossing,NaN,Northern America,5.0
3,3,2014.MMP00004,2014.MMP00004,North America,"Thu, 01/16/2014 - 12:00",2014,January,1.0,NaN,1,...,1.0,NaN,Violence,"near Douglas, Arizona, USA","Ministry of Foreign Affairs Mexico, Pima Count...","31.506777, -109.315632",US-Mexico border crossing,http://bit.ly/1qfIw00,Northern America,5.0
4,4,2014.MMP00005,2014.MMP00005,Europe,"Thu, 01/16/2014 - 12:00",2014,January,1.0,0.0,1,...,1.0,NaN,Harsh environmental conditions / lack of adequ...,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.1551, 28",NaN,http://bit.ly/1rTFTjR,Northern Europe,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9901,1265,2021.MMP0326,2021.MMP0326,Europe,"Sun, 09/19/2021 - 12:00",2021,September,1.0,NaN,1,...,1.0,NaN,Mixed or unknown,"Remains found near the village of Frącki, in t...","Poland Prime Minister, Polish Border Guard, IO...","53.980185, 23.302962",Belarus-EU border,"https://archive.ph/XJnlv, https://www.facebook...",Eastern Europe,5.0
9902,1266,2021.MMP0327,2021.MMP0327,Europe,"Sun, 09/19/2021 - 12:00",2021,September,1.0,NaN,1,...,NaN,NaN,Harsh environmental conditions / lack of adequ...,Remains found on Bobrowniki - Bierestowica Bor...,"Poland Prime Minister, Polish Border Guard, IO...","53.122544, 23.891067",Belarus-EU border,"https://archive.ph/XJnlv, https://www.facebook...",Eastern Europe,5.0
9903,1267,2021.MMP0328,2021.MMP0328,Western Asia,"Wed, 09/08/2021 - 12:00",2021,September,NaN,1.0,1,...,1.0,NaN,Violence,"Evros/Meriç river, Rahmanca village, Meriç dis...",Survivors' testimony via IOM Turkey,"41.2852665, 26.46428946",Turkey-Europe land route,NaN,Western Asia,2.0
9904,1268,2021.MMP0329,2021.MMP0329,Western Asia,"Sat, 11/20/2021 - 12:00",2021,November,NaN,1.0,1,...,1.0,NaN,Drowning,"Evros/Meriç river, Sarıcaali village, Ipsala d...",Survivors' testimony via IOM Turkey,"40.99193863, 26.34775172",Turkey-Europe land route,NaN,Western Asia,2.0
9905,1269,2021.MMP0330,2021.MMP0330,Western Asia,"Fri, 12/31/2021 - 12:00",2021,December,NaN,1.0,1,...,1.0,1.0,Harsh environmental conditions / lack of adequ...,"Evros/Meriç river, Ipsala distrcit, Turkey",Survivors' testimony via IOM Turkey,"40.99193863, 26.34775172",Turkey-Europe land route,NaN,Western Asia,2.0

#### This section describes the columns found in the second dataset:

Column: | Description
--------|------------
Unnamed: 0: | Seems like an index column.
Main ID: | A unique identifier for each record.
Incident ID: | Another identifier for each incident.
Region: | The region where the incident occurred.
Incident Date: | The date of the incident.
Year: | The year the incident occurred.
Reported Month: | The month the incident was reported.
Number Dead: | The number of people who died.
Minimum Estimated Number of Missing: | The minimum estimated number of missing people.
Total Number of Dead and Missing: | The total number of dead and missing people.
Number of Survivors: | The number of survivors.
Number of Females: | The number of females involved.
Number of Males: | The number of males involved.
Number of Children: | The number of children involved.
Cause of Death: | The cause of death.
Location of death: | Location where the death occurred.
Information Source: | The source of the information.
Coordinates: | Coordinates of the location where the incident occurred.
Migrantion route: | The migration route involved.
URL: | URL of the source.
UNSD Geographical Grouping: | Geographical grouping according to the United Nations.
Source Quality: | A rating for the quality of the source.

In [6]:
file_path_3 = 'data/Global Missing Migrants Dataset 3.csv'
missing_migrants_df_3 = pd.read_csv(file_path_3)

In [7]:
missing_migrants_df_3

,Incident Type,Incident year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number of Dead,Minimum Estimated Number of Missing,Total Number of Dead and Missing,Number of Survivors,Number of Females,Number of Males,Number of Children,Cause of Death,Migration route,Location of death,Information Source,Coordinates,UNSD Geographical Grouping
0,Incident,2014,January,Central America,North America,Guatemala,1.0,0,1,0,0,1,0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.650259, -110.366453",Northern America
1,Incident,2014,January,Latin America / Caribbean (P),North America,Unknown,1.0,0,1,0,0,0,0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.59713, -111.73756",Northern America
2,Incident,2014,January,Latin America / Caribbean (P),North America,Unknown,1.0,0,1,0,0,0,0,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.94026, -113.01125",Northern America
3,Incident,2014,January,Central America,North America,Mexico,1.0,0,1,0,0,1,0,Violence,US-Mexico border crossing,"near Douglas, Arizona, USA","Ministry of Foreign Affairs Mexico, Pima Count...","31.506777, -109.315632",Northern America
4,Incident,2014,January,Northern Africa,Europe,Sudan,1.0,0,1,2,0,1,0,Harsh environmental conditions / lack of adequ...,NaN,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.1551, 28",Northern Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13015,Incident,2023,July,Western Asia,Western Asia,Syrian Arab Republic,4.0,0,4,0,0,4,0,Vehicle accident / death linked to hazardous t...,Türkiye-Europe land route,"In Ipsala, Edirne province, Türkiye - travelli...","Andalou Agency, Son Dakika, Orient News","40.91271268, 26.369657",Western Asia
13016,Incident,2023,July,Western Africa (P),Western Asia,Unknown,2.0,0,2,0,0,2,0,Vehicle accident / death linked to hazardous t...,Türkiye-Europe land route,"At the Kapıkule Türkiye-Bulgaria Border Gate, ...","Son Dakika, Hurriyet","41.71697242, 26.351489",Western Asia
13017,Incident,2023,July,Western Africa,Northern Africa,Senegal,13.0,0,13,6,0,0,0,Drowning,Western Africa / Atlantic route to the Canary ...,"Off the coasts of Dakhla, Western Sahara - 6 s...","Barron's News, InfoMigrants, IOM Morrocco","23.72836078, -15.901632",Uncategorized
13018,Incident,2023,July,Mixed,Northern Africa,Unknown,6.0,0,6,48,0,0,0,Drowning,Western Africa / Atlantic route to the Canary ...,"Unspecified location off the coast of Nador, M...","El Nashra, Swiss Info; CGTN, IOM Morrocco","35.17187365, -2.903182",Uncategorized
13019,Incident,2023,July,Western Africa (P),Western Africa,Unknown,16.0,37,53,2,2,0,0,Drowning,Western Africa / Atlantic route to the Canary ...,"Off the coast of Ouakam, Dakar, Senegal",IOM Senegal,"14.71870705, -17.506255",Uncategorized

#### Below are the columns and their descriptions for the third dataset:

Columns in the Third Dataset | Description
-----------------------------|------------
Incident Type: | Type of incident.
Incident Year: | The year the incident occurred.
Reported Month: | The month the incident was reported.
Region of Origin: | The region of origin for the migrants.
Region of Incident: | The region where the incident occurred.
Country of Origin: | The country of origin for the migrants.
Number of Dead: | The number of people who died.
Minimum Estimated Number of Missing: | The minimum estimated number of missing people.
Total Number of Dead and Missing: | The total number of dead and missing people.
Number of Survivors: | The number of survivors.
Number of Females: | The number of females involved.
Number of Males: | The number of males involved.
Number of Children: | The number of children involved.
Cause of Death: | The cause of death.
Migration Route: | The migration route involved.
Location of Death: | Description of the location where the death occurred.
Information Source: | The source of the information.
Coordinates: | Coordinates of the location where the incident occurred.
UNSD Geographical Grouping: | Geographical grouping according to the United Nations.

### Observations:
Each dataset has a different structure, number of columns, and potentially a different/overlapping time range. Therefore, aligning them becomes important.

### Mapping Similar Columns Across Datasets

**Reason**: Since the datasets have different column names for similar information, there was a need to map them to a common set of columns for easy comparison and merging.

**Operations**:
- Define a dictionary to map similar columns across datasets.
- Rename the columns based on this mapping.



| First Dataset             | Second Dataset                 | Third Dataset                  | Description                                                   |
|---------------------------|--------------------------------|--------------------------------|---------------------------------------------------------------|
| Web ID                    | Main ID                         | -                              | Unique identifier for each record                             |
| Region of Incident        | Region                          | Region of Incident             | Geographical region where the incident occurred               |
| Reported Year             | Year                            | Incident year                  | Year the incident occurred                                    |
| Reported Date             | Incident Date                   | -                              | Date the incident occurred                                    |
| Reported Month            | Reported Month                  | Reported Month                 | Month the incident was reported                               |
| Number Dead               | Number Dead                     | Number of Dead                 | Number of people who died                                     |
| Minimum Estimated Number of Missing | Minimum Estimated Number of Missing | Minimum Estimated Number of Missing | Estimated number of missing people |
| Total Dead and Missing    | Total Number of Dead and Missing | Total Number of Dead and Missing | Total number of dead and missing people                       |
| Number of Survivors       | Number of Survivors              | Number of Survivors             | Number of survivors                                           |
| Number of Females         | Number of Females                | Number of Females               | Number of females involved                                    |
| Number of Males           | Number of Males                  | Number of Males                 | Number of males involved                                      |
| Number of Children        | Number of Children               | Number of Children              | Number of children involved                                   |
| Cause of Death            | Cause of Death                   | Cause of Death                  | Cause of the death(s)                                         |
| Location Description      | Location of death                | Location of death               | Description of the location where the incident occurred       |
| Information Source        | Information Source               | Information Source              | Source of the information                                     |
| Location Coordinates      | Coordinates                      | Coordinates                     | Coordinates of the location where the incident occurred      |
| Migration Route           | Migrantion route                 | Migration route                 | The migration route involved                                  |
| URL                       | URL                              | -                              | URL of the source                                             |
| UNSD Geographical Grouping | UNSD Geographical Grouping       | UNSD Geographical Grouping      | United Nations geographical grouping                           |
| Source Quality            | Source Quality                   | -                              | Quality of the source information                             |

In [8]:
missing_migrants_df.shape, missing_migrants_df_2.shape, missing_migrants_df_3.shape

((5987, 20), (9906, 22), (13020, 19))

In [9]:
def create_unique_columns_dataframe(datasets):
    unique_columns = {}
    
    for idx, dataset in enumerate(datasets, start=1):
        for column in dataset.columns:
            if column not in unique_columns:
                unique_columns[column] = [0] * len(datasets)
            unique_columns[column][idx-1] = 1
    
    unique_columns_df = pd.DataFrame.from_dict(unique_columns, orient='index', columns=[f"Dataset {idx}" for idx in range(1, len(datasets)+1)])
    return unique_columns_df.sort_index(ascending=True)


create_unique_columns_dataframe([missing_migrants_df, missing_migrants_df_2, missing_migrants_df_3])

                                     Dataset 1  Dataset 2  Dataset 3
Cause of Death                               1          1          1
Coordinates                                  0          1          1
Country of Origin                            0          0          1
Incident Date                                0          1          0
Incident ID                                  0          1          0
Incident Type                                0          0          1
Incident year                                0          0          1
Information Source                           1          1          1
Location Coordinates                         1          0          0
Location Description                         1          0          0
Location of death                            0          1          1
Main ID                                      0          1          0
Migrantion route                             0          1          0
Migration Route                              1          0          0
Migration route                              0          0          1
Minimum Estimated Number of Missing          1          1          1
Number Dead                                  1          1          0
Number of Children                           1          1          1
Number of Dead                               0          0          1
Number of Females                            1          1          1
Number of Males                              1          1          1
Number of Survivors                          1          1          1
Region                                       0          1          0
Region of Incident                           1          0          1
Region of Origin                             0          0          1
Reported Date                                1          0          0
Reported Month                               1          1          1
Reported Year                                1          0          0
Source Quality                               1          1          0
Total Dead and Missing                       1          0          0
Total Number of Dead and Missing             0          1          1
UNSD Geographical Grouping                   1          1          1
URL                                          1          1          0
Unnamed: 0                                   0          1          0
Web ID                                       1          0          0
Year                                         0          1          0

In [10]:
column_mapping = {
    'Location Coordinates': 'Coordinates',
    'Incident year': 'Year',
    'Reported Year': 'Year',
    'Information Source': 'Source',
    'Location Description': 'Location of death',
    'Migrantion route': 'Migration route',
    'Migration Route': 'Migration route',
    'Number of Dead': 'Number Dead',
    'Region': 'Region of Incident',
    'Total Number of Dead and Missing': 'Total Dead and Missing'
}

In [11]:
def rename_columns(dataset, column_mapping):
    renamed_dataset = dataset.rename(columns=column_mapping)
    return renamed_dataset

In [12]:
missing_migrants_df = rename_columns(missing_migrants_df, column_mapping)
missing_migrants_df_2 = rename_columns(missing_migrants_df_2, column_mapping)
missing_migrants_df_3 = rename_columns(missing_migrants_df_3, column_mapping)

create_unique_columns_dataframe([missing_migrants_df, missing_migrants_df_2, missing_migrants_df_3])

                                     Dataset 1  Dataset 2  Dataset 3
Cause of Death                               1          1          1
Coordinates                                  1          1          1
Country of Origin                            0          0          1
Incident Date                                0          1          0
Incident ID                                  0          1          0
Incident Type                                0          0          1
Location of death                            1          1          1
Main ID                                      0          1          0
Migration route                              1          1          1
Minimum Estimated Number of Missing          1          1          1
Number Dead                                  1          1          1
Number of Children                           1          1          1
Number of Females                            1          1          1
Number of Males                              1          1          1
Number of Survivors                          1          1          1
Region of Incident                           1          1          1
Region of Origin                             0          0          1
Reported Date                                1          0          0
Reported Month                               1          1          1
Source                                       1          1          1
Source Quality                               1          1          0
Total Dead and Missing                       1          1          1
UNSD Geographical Grouping                   1          1          1
URL                                          1          1          0
Unnamed: 0                                   0          1          0
Web ID                                       1          0          0
Year                                         1          1          1

#### Observation:

The datasets are now aligned in terms of column names, making it easier to perform subsequent analyses.

In [13]:
def count_values_across_dataframes(column_name, dataframes):
    unique_values = []
    
    # Collect unique values from all dataframes
    for df in dataframes:
        unique_values.extend(df[column_name].unique())
    
    print("Unique Values:", unique_values)  # Print the unique values
    
    unique_values = list(set(unique_values))  # Deduplicate the values
    unique_values = sorted(unique_values, key=str)  # Sort the values as strings
    
    result_df = pd.DataFrame(index=unique_values)
    
    # Fill in the dataframe with counts of the values in each dataframe
    for idx, df in enumerate(dataframes, start=1):
        value_counts = df[column_name].value_counts()
        result_df[f"Dataset {idx}"] = result_df.index.map(value_counts).fillna(0)
    
    # Convert the columns to integer data type
    result_df = result_df.astype(int)
    
    return result_df

## Extracting Time Range and Geographical Regions

### Reason
Knowing the time frame and geographical scope of each dataset is critical for understanding the context and limitations of the data.

### Operations
1. Extract the minimum and maximum years from each dataset.
2. Identify unique geographical regions mentioned.

In [14]:
time_range_1 = missing_migrants_df['Year'].min(), missing_migrants_df['Year'].max()
time_range_2 = missing_migrants_df_2['Year'].min(), missing_migrants_df_2['Year'].max()
time_range_3 = missing_migrants_df_3['Year'].min(), missing_migrants_df_3['Year'].max()

time_range_1, time_range_2, time_range_3

((2014, 2019), (2014, 2021), (2014, 2023))

In [15]:
(
    count_values_across_dataframes(
    'Region of Incident', 
    [missing_migrants_df, 
     missing_migrants_df_2, 
     missing_migrants_df_3])
)

Unique Values: ['Mediterranean', 'East Asia', 'Middle East', 'Europe', 'US-Mexico Border', 'Central America', 'Sub-Saharan Africa', 'Caribbean', 'North Africa', 'South Asia', 'Horn of Africa', 'South America', 'Southeast Asia', 'North America', 'Central Asia', 'North America', 'Europe', 'Mediterranean', 'Caribbean', 'South-eastern Asia', 'Southern Asia', 'Eastern Africa', 'Central America', 'Northern Africa', 'Eastern Asia', 'Western Asia', 'Western Africa', 'South America', 'Southern Africa', 'Middle Africa', 'Central Asia', 'North America', 'Europe', 'Mediterranean', 'Caribbean', 'South-eastern Asia', 'Southern Asia', 'Eastern Africa', 'Central America', 'Northern Africa', 'Eastern Asia', 'Western Asia', 'Western Africa', 'South America', 'Southern Africa', 'Middle Africa', 'Central Asia']

                    Dataset 1  Dataset 2  Dataset 3
Caribbean                  68        111        160
Central America           364        980       1375
Central Asia                1          1          1
East Asia                   6          0          0
Eastern Africa              0        397        489
Eastern Asia                0          8         10
Europe                    301        470        619
Horn of Africa            238          0          0
Mediterranean            1085       1759       2055
Middle Africa               0         72         75
Middle East               182          0          0
North Africa             1262          0          0
North America               2       2165       2706
Northern Africa             0       1810       2014
South America              36        165        209
South Asia                183          0          0
South-eastern Asia          0        205        237
Southeast Asia            137          0          0
Southern Africa             0          8         16
Southern Asia               0        511       1673
Sub-Saharan Africa        510          0          0
US-Mexico Border         1612          0          0
Western Africa              0        926        967
Western Asia                0        318        414

- Northern Africa and North Africa: These likely refer to the same geographic area.

- South-eastern Asia and Southeast Asia: Again, these likely refer to the same region.

- South Asia and Southern Asia: These also likely refer to the same region.

- East Asia and Eastern Asia: These also likely refer to the same region.

- Eastern Africa and Horn of Africa: While not exactly the same, these regions are closely related. The Horn of Africa is a peninsula in Eastern Africa and includes countries like Somalia, Ethiopia, Eritrea, and Djibouti. We might consider merging them depending on the level of granularity we need.

- Middle East and Western Asia: The Middle East often includes countries that are geographically in Western Asia, such as Saudi Arabia, Israel, and Iran.

- Sub-Saharan Africa and Middle Africa/Southern Africa/Western Africa/Eastern Africa: Sub-Saharan Africa is a broad term that includes various regions within Africa that are situated south of the Sahara. However, this would be a more significant consolidation and would depend on the granularity of analysis we will be looking for.

## Data Cleaning and Transformation
Reason: Data quality is essential for accurate analysis. This involves handling missing values, standardizing text, and converting data types where necessary.

### Operations
1. Check for inconsistencies in geographical naming and standardized them.

In [16]:
def update_column_values(column_name, value_mapping, dataframes):
    for df in dataframes:
        df[column_name] = df[column_name].map(lambda x: value_mapping.get(x, x))

In [17]:
region_mapping = {
    'Northern Africa': 'North Africa',
    'South-eastern Asia': 'Southeast Asia',
    'Southern Asia': 'South Asia',
    'East Asia': 'Eastern Asia'
}

(
    update_column_values(
        'Region of Incident', 
        region_mapping, 
        [missing_migrants_df, missing_migrants_df_2, missing_migrants_df_3]
    )
)

(
    count_values_across_dataframes(
    'Region of Incident', 
    [missing_migrants_df, 
     missing_migrants_df_2, 
     missing_migrants_df_3])
)

Unique Values: ['Mediterranean', 'Eastern Asia', 'Middle East', 'Europe', 'US-Mexico Border', 'Central America', 'Sub-Saharan Africa', 'Caribbean', 'North Africa', 'South Asia', 'Horn of Africa', 'South America', 'Southeast Asia', 'North America', 'Central Asia', 'North America', 'Europe', 'Mediterranean', 'Caribbean', 'Southeast Asia', 'South Asia', 'Eastern Africa', 'Central America', 'North Africa', 'Eastern Asia', 'Western Asia', 'Western Africa', 'South America', 'Southern Africa', 'Middle Africa', 'Central Asia', 'North America', 'Europe', 'Mediterranean', 'Caribbean', 'Southeast Asia', 'South Asia', 'Eastern Africa', 'Central America', 'North Africa', 'Eastern Asia', 'Western Asia', 'Western Africa', 'South America', 'Southern Africa', 'Middle Africa', 'Central Asia']

                    Dataset 1  Dataset 2  Dataset 3
Caribbean                  68        111        160
Central America           364        980       1375
Central Asia                1          1          1
Eastern Africa              0        397        489
Eastern Asia                6          8         10
Europe                    301        470        619
Horn of Africa            238          0          0
Mediterranean            1085       1759       2055
Middle Africa               0         72         75
Middle East               182          0          0
North Africa             1262       1810       2014
North America               2       2165       2706
South America              36        165        209
South Asia                183        511       1673
Southeast Asia            137        205        237
Southern Africa             0          8         16
Sub-Saharan Africa        510          0          0
US-Mexico Border         1612          0          0
Western Africa              0        926        967
Western Asia                0        318        414

In [18]:
(
    count_values_across_dataframes(
    'UNSD Geographical Grouping', 
    [missing_migrants_df, 
     missing_migrants_df_2, 
     missing_migrants_df_3])
)

Unique Values: ['Uncategorized', 'Eastern Asia', 'Western Asia', 'Southern Europe', 'Northern America', 'Western Europe', 'Central America', 'Western Africa', 'Caribbean', 'Northern Africa', 'Southern Asia', 'Eastern Africa', 'South America', 'South-eastern Asia', nan, 'Eastern Europe', 'Northern Europe', 'South Asia', 'Central Asia', 'Central Africa', 'Southern Africa', 'Northern America', 'Northern Europe', 'Uncategorized', 'Western Europe', 'Caribbean', 'South-eastern Asia', 'Southern Asia', 'Central America', 'Eastern Africa', 'Northern Africa', 'Eastern Asia', 'Western Asia', 'Eastern Europe', 'Southern Europe', 'Western Africa', 'South America', 'Southern Africa', 'Middle Africa', 'Central Asia', nan, 'Northern America', 'Northern Europe', 'Uncategorized', 'Western Europe', 'Caribbean', 'South-eastern Asia', 'Southern Asia', 'Central America', 'Eastern Africa', 'Northern Africa', 'Eastern Asia', 'Western Asia', 'Eastern Europe', 'Southern Europe', 'Western Africa', 'South America', 'Southern Africa', 'Middle Africa', 'Central Asia', nan]

                    Dataset 1  Dataset 2  Dataset 3
Caribbean                  58         79        113
Central Africa             15          0          0
Central America           640        974       1362
Central Asia                2          1          1
Eastern Africa            298        377        467
Eastern Asia                7          8         15
Eastern Europe             22         49        111
Middle Africa               0         72         75
Northern Africa          1262       1681       1872
Northern America         1310       2164       2708
Northern Europe            12         21         25
South America              36        160        207
South Asia                  9          0          0
South-eastern Asia         96        196        225
Southern Africa             6          8         12
Southern Asia             165        497       1660
Southern Europe           157        254        329
Uncategorized            1151       2030       2351
Western Africa            388        908        941
Western Asia              196        285        389
Western Europe            111        141        156
NaN                         0          0          0

## Comparison of Three Missing Migrants Datasets

### Time Range Covered

1. **First Dataset (`MissingMigrants-Global-2019-12-31_correct.csv`)**: 2014 - 2019
2. **Second Dataset (`MM_14_21.csv`)**: 2014 - 2021
3. **Third Dataset (`Global Missing Migrants Dataset 3.csv`)**: 2014 - 2023

### Geographical Coverage

- All three datasets cover a wide range of regions globally.
- The first dataset uses some unique names for regions (e.g., "Horn of Africa", "Sub-Saharan Africa") that are not present in the other two datasets.
- The second and third datasets are very similar in terms of the regions they cover.

### Data Completeness

#### First Dataset (`MissingMigrants-Global-2019-12-31_correct.csv`)

- Region of Incident: 0 missing values
- Reported Year: 0 missing values
- Number Dead: 225 missing values
- Total Dead and Missing: 0 missing values
- Cause of Death: 0 missing values

#### Second Dataset (`MM_14_21.csv`)

- Region: 0 missing values
- Year: 0 missing values
- Number Dead: 552 missing values
- Total Number of Dead and Missing: 0 missing values
- Cause of Death: 0 missing values

#### Third Dataset (`Global Missing Migrants Dataset 3.csv`)

- Region of Incident: 0 missing values
- Incident Year: 0 missing values
- Number of Dead: 550 missing values
- Total Number of Dead and Missing: 0 missing values
- Cause of Death: 0 missing values

### Statistical Summary

1. **Region**: All datasets cover multiple regions, with North America being a common region of focus.
  
2. **Year**: The years covered align with our earlier observations about the time range of each dataset.
  
3. **Number Dead**: The average number of dead varies between datasets but generally remains within a similar range. All datasets have incidents with missing values in this column.
  
4. **Total Dead and Missing**: The average number of total dead and missing also varies between datasets but is in a similar range.
  
5. **Cause of Death**: "Drowning" and "Mixed or unknown" are common causes of death across the datasets.

## Finding duplicate incidents in 3 datasets

### Reason: 
Duplicates can distort analytical results, so they need to be identified and handled appropriately.

### Operations:
- Identify duplicates based on a subset of columns.
- Drop duplicates to retain unique records.

In [19]:
def split_coordinates_and_convert(df, coordinate_column, lat_column, lon_column, rounded_lat_column, rounded_lon_column):
    df[[lat_column, lon_column]] = df[coordinate_column].str.split(',', expand=True)
    df[lat_column] = pd.to_numeric(df[lat_column], errors='coerce')
    df[lon_column] = pd.to_numeric(df[lon_column], errors='coerce')
    df[rounded_lat_column] = df[lat_column].round(3)
    df[rounded_lon_column] = df[lon_column].round(3)

# Applying the function to each dataset
split_coordinates_and_convert(missing_migrants_df, 'Coordinates', 'Lat', 'Lon', 'Rounded_Lat', 'Rounded_Lon')
split_coordinates_and_convert(missing_migrants_df_2, 'Coordinates', 'Lat', 'Lon', 'Rounded_Lat', 'Rounded_Lon')
split_coordinates_and_convert(missing_migrants_df_3, 'Coordinates', 'Lat', 'Lon', 'Rounded_Lat', 'Rounded_Lon')

# Display the first few rows to verify the correct splitting, conversion, and rounding
missing_migrants_df[['Lat', 'Lon', 'Rounded_Lat', 'Rounded_Lon']].head(), missing_migrants_df_2[['Lat', 'Lon', 'Rounded_Lat', 'Rounded_Lon']].head(), missing_migrants_df_3[['Lat', 'Lon', 'Rounded_Lat', 'Rounded_Lon']].head()

(         Lat         Lon  Rounded_Lat  Rounded_Lon
 0  35.568972   -1.289773       35.569       -1.290
 1  35.912384   -5.357673       35.912       -5.358
 2  38.154018  138.086033       38.154      138.086
 3  38.777229   42.739258       38.777       42.739
 4  17.245365   43.239093       17.245       43.239,
          Lat         Lon  Rounded_Lat  Rounded_Lon
 0  31.650259 -110.366453       31.650     -110.366
 1  31.597130 -111.737560       31.597     -111.738
 2  31.940260 -113.011250       31.940     -113.011
 3  31.506777 -109.315632       31.507     -109.316
 4  59.155100   28.000000       59.155       28.000,
          Lat         Lon  Rounded_Lat  Rounded_Lon
 0  31.650259 -110.366453       31.650     -110.366
 1  31.597130 -111.737560       31.597     -111.738
 2  31.940260 -113.011250       31.940     -113.011
 3  31.506777 -109.315632       31.507     -109.316
 4  59.155100   28.000000       59.155       28.000)

In [20]:
missing_migrants_df_3[missing_migrants_df_3['Year']<=2019]['Reported Month'].value_counts()

Reported Month
October      739
September    691
June         677
July         661
December     654
August       619
November     594
May          546
January      537
March        505
April        480
February     473
Name: count, dtype: int64

In [21]:
missing_migrants_df['Reported Month'].value_counts()

Reported Month
Jun    607
Oct    588
Sep    577
Aug    564
Jul    558
Dec    491
May    481
Jan    470
Nov    435
Apr    416
Feb    404
Mar    396
Name: count, dtype: int64

In [22]:
missing_migrants_df_2[missing_migrants_df_2['Year']<=2019]['Reported Month'].value_counts()

Reported Month
October      745
June         701
September    697
July         680
December     651
August       636
November     598
May          555
January      545
March        519
April        490
February     482
Name: count, dtype: int64

In [23]:
missing_migrants_df_3[missing_migrants_df_3['Year']<=2019]['Year'].value_counts()

Year
2019    1804
2018    1637
2017    1341
2016    1277
2015     821
2014     296
Name: count, dtype: int64

In [24]:
missing_migrants_df['Year'].value_counts()

Year
2018    1506
2017    1356
2016    1275
2015     808
2019     797
2014     245
Name: count, dtype: int64

In [25]:
missing_migrants_df_3[missing_migrants_df_3['Year']<=2019]['Region of Incident'].value_counts()

Region of Incident
North Africa       1604
North America      1436
Mediterranean      1094
Western Africa      890
Central America     659
Eastern Africa      351
Europe              326
Western Asia        229
South Asia          223
Southeast Asia      183
Caribbean            67
Middle Africa        63
South America        38
Eastern Asia          6
Southern Africa       6
Central Asia          1
Name: count, dtype: int64

In [26]:
missing_migrants_df['Region of Incident'].value_counts()

Region of Incident
US-Mexico Border      1612
North Africa          1262
Mediterranean         1085
Sub-Saharan Africa     510
Central America        364
Europe                 301
Horn of Africa         238
South Asia             183
Middle East            182
Southeast Asia         137
Caribbean               68
South America           36
Eastern Asia             6
North America            2
Central Asia             1
Name: count, dtype: int64

In [27]:
missing_migrants_df_3[missing_migrants_df_3['Year']<=2019]

,Incident Type,Year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,...,Cause of Death,Migration route,Location of death,Source,Coordinates,UNSD Geographical Grouping,Lat,Lon,Rounded_Lat,Rounded_Lon
0,Incident,2014,January,Central America,North America,Guatemala,1.0,0,1,0,...,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.650259, -110.366453",Northern America,31.650259,-110.366453,31.650,-110.366
1,Incident,2014,January,Latin America / Caribbean (P),North America,Unknown,1.0,0,1,0,...,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.59713, -111.73756",Northern America,31.597130,-111.737560,31.597,-111.738
2,Incident,2014,January,Latin America / Caribbean (P),North America,Unknown,1.0,0,1,0,...,Mixed or unknown,US-Mexico border crossing,Pima Country Office of the Medical Examiner ju...,Pima County Office of the Medical Examiner (PC...,"31.94026, -113.01125",Northern America,31.940260,-113.011250,31.940,-113.011
3,Incident,2014,January,Central America,North America,Mexico,1.0,0,1,0,...,Violence,US-Mexico border crossing,"near Douglas, Arizona, USA","Ministry of Foreign Affairs Mexico, Pima Count...","31.506777, -109.315632",Northern America,31.506777,-109.315632,31.507,-109.316
4,Incident,2014,January,Northern Africa,Europe,Sudan,1.0,0,1,2,...,Harsh environmental conditions / lack of adequ...,NaN,Border between Russia and Estonia,EUBusiness (Agence France-Presse),"59.1551, 28",Northern Europe,59.155100,28.000000,59.155,28.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,Incident,2019,November,Southern Asia (P),Europe,Afghanistan,NaN,4,4,11,...,Drowning,Western Balkans,"Danube River near Vikendica Apatin Vagoni, Kne...","ERIM Database, Telegraph, RTV","45.689771, 18.931527",Southern Europe,45.689771,18.931527,45.690,18.932
7172,Incident,2019,September,Southern Asia,Europe,Pakistan,1.0,0,1,0,...,Sickness / lack of access to adequate healthcare,Western Balkans,"Kantonalnoj bolnici Irfan Ljubijankić, Darival...","ERIM Database, Udruženje Solidarnost Facebook ...","44.809761, 15.856868",Southern Europe,44.809761,15.856868,44.810,15.857
7173,Incident,2019,July,Southern Asia,Europe,Pakistan,1.0,0,1,0,...,Drowning,Western Balkans,"The Una River near Bihać, Bosnia and Herzegovina","ERIM Database, Udruženje Solidarnost Facebook ...","44.848372, 15.850169",Southern Europe,44.848372,15.850169,44.848,15.850
7174,Incident,2019,July,Southern Asia (P),Europe,Unknown,1.0,0,1,0,...,Drowning,Western Balkans,"The Drina River, Donji Šepak, near Zvornik, Bo...","ERIM Database, Klix","44.531236, 19.173107",Southern Europe,44.531236,19.173107,44.531,19.173
7175,Incident,2019,December,Southern Asia (P),Europe,Unknown,1.0,0,1,0,...,Mixed or unknown,Western Balkans,"Unspecified location in Kamenac, Kneževi Vinog...","ERIM Database, Kneževi parkovi d. o. o.","45.769788, 18.707236",Southern Europe,45.769788,18.707236,45.770,18.707

## Analysis

In the concluding phase of our analysis, we aim to make key comparisons between the datasets. Specifically, we delve into the distribution of incidents both by year and by region, aiming to draw meaningful insights.

### Distribution by Year

We initiate this comparative analysis by investigating the fluctuation in the number of incidents across different years within the first dataset. By doing so, we gain insights into temporal trends and pinpoint the years characterized by the highest incident counts.

### Distribution by Region in Dataset 3

Moving forward, our attention turns to scrutinizing the distribution of incidents based on the 'Region of Incident' attribute within the third dataset. Our focus remains on the years leading up to 2019. This segment of the analysis serves the purpose of juxtaposing the regional distribution with that of the first dataset, thereby enabling the identification of common regions affected.

### Distribution by Region in Dataset 1

Furthermore, we conduct an assessment of the frequency of occurrences associated with distinct 'Region of Incident' categories in the first dataset. This examination enhances our comprehension of whether the two datasets align in terms of geographical emphasis.

### Filtering Dataset 3

The concluding step involves filtering the third dataset to exclusively encompass records pertaining to the years up to 2019. This modification is implemented to ensure an equitable comparison with the first dataset, which similarly encompasses data up to that specific year.

Through this comparative analysis, we aim to assess whether the third dataset can serve as a comprehensive and reliable source alone, for future analyses.

In [28]:
reported_month_dtype_df1 = missing_migrants_df['Reported Month'].dtype
reported_month_dtype_df2 = missing_migrants_df_2['Reported Month'].dtype
reported_month_dtype_df3 = missing_migrants_df_3['Reported Month'].dtype

reported_month_dtype_df1, reported_month_dtype_df2, reported_month_dtype_df3

(dtype('O'), dtype('O'), dtype('O'))

In [29]:
from datetime import datetime

def convert_month_strings_to_numbers(df):
    # Dictionary mapping month representations to numeric values
    month_mapping = {
        'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4,
        'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8,
        'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12,
        'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7,
       'August': 8, 'September': 9, 'October': 10, 'November':11, 'December': 12
    }
    
    # Convert 'Reported Month' column to numeric month representations
    df['Reported Month'] = df['Reported Month'].map(month_mapping)
    
    return df

## Merging Datasets
Reason: The aim was to create a comprehensive dataset by combining information from all three datasets.

### Operations
1. Identify records that are duplicates across datasets.
2. Merge the datasets while avoiding duplicate entries.

In [30]:
missing_migrants_df = convert_month_strings_to_numbers(missing_migrants_df)  # Replace df1 with your actual DataFrame name
missing_migrants_df_2 = convert_month_strings_to_numbers(missing_migrants_df_2)  # Replace df2 with your actual DataFrame name
missing_migrants_df_3 = convert_month_strings_to_numbers(missing_migrants_df_3)  # Replace df3 with your actual DataFrame name

In [31]:
duplicates_df1 = missing_migrants_df.duplicated()
duplicates_df2 = missing_migrants_df_2.duplicated()
duplicates_df3 = missing_migrants_df_3.duplicated()

print(f"Number of duplicate rows in DataFrame 1: {duplicates_df1.sum()}")
print(f"Number of duplicate rows in DataFrame 2: {duplicates_df2.sum()}")
print(f"Number of duplicate rows in DataFrame 3: {duplicates_df3.sum()}")

Number of duplicate rows in DataFrame 1: 0
Number of duplicate rows in DataFrame 2: 0
Number of duplicate rows in DataFrame 3: 641

In [32]:
missing_migrants_df_3 = missing_migrants_df_3.drop_duplicates()

# Check the shape of the DataFrame after dropping duplicates
print("Shape after dropping duplicates:", missing_migrants_df_3.shape)

Shape after dropping duplicates: (12379, 23)

In [33]:
subset = ['Year', 'Reported Month', 'Region of Incident', 'Total Dead and Missing',
                      'Number Dead', 'UNSD Geographical Grouping', 'Cause of Death',
                      'Number of Children', 'Number of Males', 'Number of Females', 'Lat', 'Lon']
duplicates_df1 = missing_migrants_df.duplicated(subset=subset)
duplicates_df2 = missing_migrants_df_2.duplicated(subset=subset)
duplicates_df3 = missing_migrants_df_3.duplicated(subset=subset)

print(f"Number of duplicate rows in DataFrame 1: {duplicates_df1.sum()}")
print(f"Number of duplicate rows in DataFrame 2: {duplicates_df2.sum()}")
print(f"Number of duplicate rows in DataFrame 3: {duplicates_df3.sum()}")

Number of duplicate rows in DataFrame 1: 469
Number of duplicate rows in DataFrame 2: 530
Number of duplicate rows in DataFrame 3: 124

In [34]:
print("Shape before dropping duplicates:", missing_migrants_df.shape)
missing_migrants_df.drop_duplicates(subset)
print("Shape after dropping duplicates:", missing_migrants_df.shape)

Shape before dropping duplicates: (5987, 24)
Shape after dropping duplicates: (5987, 24)

In [35]:
print("Shape before dropping duplicates:", missing_migrants_df_2.shape)
missing_migrants_df_2.drop_duplicates(subset)
print("Shape after dropping duplicates:", missing_migrants_df_2.shape)

Shape before dropping duplicates: (9906, 26)
Shape after dropping duplicates: (9906, 26)

In [36]:
print("Shape before dropping duplicates:", missing_migrants_df_3.shape)
missing_migrants_df_3.drop_duplicates(subset)
print("Shape after dropping duplicates:", missing_migrants_df_3.shape)

Shape before dropping duplicates: (12379, 23)
Shape after dropping duplicates: (12379, 23)

In [37]:
matched_df3_df1_ll = missing_migrants_df_3.merge(missing_migrants_df, on=subset, how='inner')
matched_df3_df1_ll

,Incident Type,Year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number Dead,Minimum Estimated Number of Missing_x,Total Dead and Missing,Number of Survivors_x,...,Minimum Estimated Number of Missing_y,Number of Survivors_y,Location of death_y,Source_y,Coordinates_y,Migration route_y,URL,Source Quality,Rounded_Lat_y,Rounded_Lon_y
0,Incident,2014,7,Unknown,Mediterranean,Unknown,4.0,21,25,13,...,21.0,13.0,Aegean Sea,Greek Reporter,"37.862031000000, 26.921962000000",Eastern Mediterranean,http://bit.ly/2akKh88,1,37.862,26.922
1,Split Incident,2015,9,Western Asia,Mediterranean,"Iraq,Syrian Arab Republic",NaN,4,4,25,...,4.0,25.0,Off the coast of Samos,IOM Athens,"36.949998000000, 26.983329000000",Eastern Mediterranean,NaN,4,36.950,26.983
2,Incident,2015,9,Western Asia,Mediterranean,"Iraq,Syrian Arab Republic",34.0,4,38,99,...,4.0,99.0,Near Farmakonisi,"Reuters and Associated Press, also IOM Athens","37.294800000000, 27.119900000000",Eastern Mediterranean,http://nbcnews.to/1glnDiw,4,37.295,27.120
3,Incident,2015,9,Southern Asia,Mediterranean,Afghanistan,2.0,0,2,0,...,NaN,NaN,Off the coast of Lesvos,IOM Greece,"39.283600000000, 26.505700000000",Eastern Mediterranean,http://news.xinhuanet.com/english/2015-09/30/c...,4,39.284,26.506
4,Incident,2015,10,Western Asia,Mediterranean,Syrian Arab Republic,3.0,0,3,0,...,NaN,NaN,Off the coast of Lesvos,"Reuters, IOM","39.283600000000, 26.505700000000",Eastern Mediterranean,http://reut.rs/1VTDdFt,4,39.284,26.506
5,Incident,2015,10,Western Asia,Mediterranean,Lebanon,7.0,2,9,0,...,2.0,NaN,"Off the coast of Izmir, en route to Samos",Washington Post,"37.471039000000, 27.022180000000",Eastern Mediterranean,"http://wapo.st/1MGQ8EZ, http://reut.rs/1SBYIF2",3,37.471,27.022
6,Incident,2015,10,Western / Southern Asia (P),Mediterranean,Unknown,7.0,1,8,0,...,1.0,NaN,Off the coast of Lesvos,"AFP, NYT, IOM","39.283600000000, 26.505700000000",Eastern Mediterranean,"http://nyti.ms/1PljKcF, http://bit.ly/1kafH6u",4,39.284,26.506
7,Incident,2015,10,Western Asia,Mediterranean,Syrian Arab Republic,4.0,1,5,0,...,1.0,NaN,Off the coast of Megisti/Kastellorizo,Hellenic Coast Guard via IOM Greece,"34.234500000000, 14.743700000000",Eastern Mediterranean,http://www.hcg.gr/node/11299,5,34.234,14.744
8,Incident,2015,10,Western / Southern Asia (P),Mediterranean,Unknown,12.0,11,23,0,...,11.0,NaN,"Ayvac?k in the province of Canakkale, Turkey, ...",Hurriyet Daily News,"39.410744000000, 26.586906000000",Eastern Mediterranean,http://bit.ly/1N7wI8w,1,39.411,26.587
9,Incident,2015,10,Southern Asia,Mediterranean,Afghanistan,3.0,7,10,0,...,7.0,NaN,off the coast of Lesvos,Hellenic Coast Guard via IOM Greece,"39.283600000000, 26.505700000000",Eastern Mediterranean,NaN,5,39.284,26.506
10,Incident,2015,10,Western / Southern Asia (P),Mediterranean,Unknown,19.0,0,19,0,...,NaN,0.0,"off the coast of Kalymnos, Greece",AP and Hellenic Coast Guard,"36.952300000000, 26.980800000000",Eastern Mediterranean,"http://lat.ms/1kfYtUL, http://www.hcg.gr/node/...",5,36.952,26.981
11,Incident,2015,11,Western / Southern Asia (P),Mediterranean,Unknown,5.0,0,5,0,...,NaN,NaN,"off Canakkale, Turkey, en route to Lesvos",Hurriyet Daily News,"39.314606000000, 26.515185000000",Eastern Mediterranean,http://bit.ly/1NDccm0,1,39.315,26.515
12,Incident,2015,12,Western / Southern Asia (P),Mediterranean,Unknown,3.0,2,5,0,...,2.0,NaN,"off the coast of Farmakonisi, Greece",IOM Greece,"37.285600000000, 27.086600000000",Eastern Mediterranean,NaN,4,37.286,27.087
13,Incident,2015,12,Western / Southern Asia (P),Mediterranean,Unknown,4.0,0,4,0,...,NaN,NaN,"off the coast of Farmakonisi, Greece",AP,"37.276233000000, 27.107574000000",Eastern Mediterranean,http://bit.ly/1OT8dRp,1,37.276,27.108
14,Incident,2015,12,Western / Southern Asia (P),Mediterranean,Unknown,2.0,0,2,0,...,NaN,NaN,"Found on Ikaria Island, Greece",Hellenic Coast Guard via IOM Greece,"37.659145000000, 26.326265000000",Eastern Mediterranean,http://www.hcg.gr/node/11693,5,37.659,26.326
15,Incident,2015,12,Western / Southern Asia (P),Mediterranean,Unknown,13.0,1,14,15,...,1.0,15.0,off the coast of Farmakonisi islands,Hellenic Coast Guard via IOM Greece,"37.295400000000, 27.112700000000",Eastern Mediterranean,NaN,5,37.295,27.113
16,Incident,2015,12,Western / Southern Asia (P),Mediterranean,Unknown,4.0,0,4,0,...,NaN,NaN,"Found on island of Fournoi, Greece","Hellenic Coast Guard, via IOM Athens","37.551464000000, 26.507867000000",Eastern Mediterranean,http://www.hcg.gr/node/11744,5,37.551,26.508
17,Incident,2016,1,Western / Southern Asia (P),Mediterranean,Unknown,3.0,3,6,13,...,3.0,13.0,"near Ayvacik, Turkey, likely en route to Lesvos",Reuters,"39.601620700000, 26.398186500000",Eastern Mediterranean,http://reut.rs/1J5GQCR,1,39.602,26.398
18,Incident,2016,1,Western Asia,Mediterranean,Iraq,13.0,11,24,25,...,11.0,25.0,"Off Turkey's western Foça coast, Izmir. En rou...",Today's Zaman,"38.704200600000, 26.593916700000",Eastern Mediterranean,"http://bit.ly/1RN3kLx, http://bit.ly/1UfZgkO, ...",3,38.704,26.594
19,Incident,2016,1,Western / Southern Asia (P),Mediterranean,Unknown,35.0,9,44,26,...,9.0,26.0,"Kalymnos, Greece",Hellenic Coast Guard via IOM Greece,"36.950590100000, 26.975212900000",Eastern Mediterranean,"http://www.hcg.gr/node/11879, http://www.hcg.g...",5,36.951,26.975
20,Incident,2016,1,Western / Southern Asia (P),Mediterranean,Unknown,7.0,0,7,2,...,NaN,2.0,"off the northern coast of Kos, Greece",Hellenic Coast Guard,"36.926600300000, 27.264159300000",Eastern Mediterranean,http://bit.ly/2045Ul3andhttp://www.hcg.gr/node...,5,36.927,27.264
21,Incident,2016,7,Unknown,Mediterranean,Unknown,4.0,3,7,6,...,3.0,6.0,"Near Lesvos, Greece","IOM Greece, Washington Post","39.189261800000, 26.130606100000",Eastern Mediterranean,"http://bit.ly/29DIw61, http://www.hcg.gr/node/...",4,39.189,26.131
22,Split Incident,2016,7,Central America,Central America,"El Salvador,Honduras",3.0,0,3,5,...,NaN,5.0,"Pacific Ocean; Left in boat from San Jose, Chi...",La Tribuna,"15.412068700000, -93.410539900000",Central America to US,"http://bit.ly/2adnkYM, http://bit.ly/2u8T36K",3,15.412,-93.411
23,Incident,2016,9,Mixed,Mediterranean,"Egypt,Eritrea,Sudan,Syrian Arab Republic",204.0,84,288,162,...,84.0,162.0,"12 km (7.5 m) off the coast of Burg Rashid, Egypt",UNHCR; IOM Italy,"31.473281800000, 30.323640200000",Central Mediterranean,http://reut.rs/2dtDtfC,4,31.473,30.324
24,Incident,2016,10,Mixed,Mediterranean,Unknown,11.0,0,11,0,...,NaN,NaN,"Boats sank off the coast of Garabulli, Libya","IOM Libya, AFP","32.885643000000, 13.678685600000",Central Mediterranean,http://bit.ly/2cPfhmG,4,32.886,13.679
25,Incident,2016,10,Unknown,Mediterranean,Unknown,2.0,0,2,0,...,NaN,NaN,"Bodies found on the shores of Zuwara, Libya",IOM Libya,"32.955797400000, 12.058880000000",Central Mediterranean,NaN,4,32.956,12.059
26,Incident,2016,10,Western Africa,Mediterranean,"Guinea,Mali,Senegal",97.0,0,97,29,...,NaN,29.0,"26 miles east of Tripoli, Libya",Libyan Coast Guard via IOM Libya,"32.955844000000, 13.227944400000",Central Mediterranean,http://bit.ly/2eIN9i8,5,32.956,13.228
27,Incident,2016,11,Southern Asia,Southeast Asia,Myanmar,3.0,0,3,0,...,NaN,NaN,"Naf River, on border between Bangladesh and My...",OHCHR,"20.964922300000, 92.213979900000",NaN,http://bit.ly/2kwtWGq,4,20.965,92.214
28,Incident,2017,1,Unknown,Mediterranean,Unknown,10.0,0,10,0,...,NaN,NaN,"Bodies found near Tripoli, Libya",IOM Libya,"32.911519200000, 13.117770000000",Central Mediterranean,NaN,4,32.912,13.118
29,Incident,2017,2,Caribbean,Caribbean,Dominican Republic,4.0,8,12,3,...,8.0,3.0,"Near Costa Esmeralda Beach in Miches, El Seibo...",Dominican Today,"18.765849600000, -69.040668000000",Dominican Republic to Puerto Rico,"http://bit.ly/2lEZBpi, http://bit.ly/2mbPHco, ...",3,18.766,-69.041
30,Incident,2017,4,Mixed,Mediterranean,Unknown,NaN,97,97,23,...,97.0,23.0,"Off the coast of Gargaresh, near Tripoli, Libya",IOM Libya,"32.862970600000, 13.121579700000",Central Mediterranean,NaN,4,32.863,13.122
31,Incident,2017,4,Sub-Saharan Africa (P),Mediterranean,Unknown,13.0,20,33,0,...,20.0,NaN,Unspecified location between North Africa and ...,"IOM Italy, BBC","35.099139200000, 13.048850200000",Central Mediterranean,http://bbc.in/2ohlVUv,4,35.099,13.049
32,Incident,2017,4,Mixed,Mediterranean,"Cameroon,Congo,Syrian Arab Republic,Türkiye",16.0,7,23,2,...,7.0,2.0,"Off the coast of Molyvos, Lesvos, Greece",IOM Greece,"39.366085100000, 26.166767200000",Eastern Mediterranean,"http://reut.rs/2oYrIkv, http://bit.ly/2qdj4MK,...",4,39.366,26.167
33,Incident,2017,6,Unknown,Mediterranean,Unknown,19.0,0,19,0,...,NaN,NaN,"Bodies washed up to Zarzis, Tunisia",IOM Tunisia,"33.517125500000, 11.116372300000",Central Mediterranean,NaN,4,33.517,11.116
34,Incident,2017,7,Caribbean,Caribbean,Haiti,5.0,1,6,0,...,1.0,NaN,"Irrigation canal in Las Matas de Santa Cruz, D...","IOM Dominican Republic, Listin Diario","19.665545800000, -71.505624900000",NaN,"http://bit.ly/2tJBINP, http://bit.ly/2tJ7Qkk",4,19.666,-71.506
35,Incident,2019,10,Caribbean,Caribbean,Haiti,2.0,1,3,0,...,1.0,NaN,"Masacre river, near La Vigía, Dajabón, Dominic...",Comité national contre la traite des personnes...,"19.669383300000, -71.740816800000",NaN,"https://bit.ly/36GpmKJ, https://bit.ly/2NnnYVU",3,19.669,-71.741

In [38]:
missing_migrants_df['dataset'] = 1
missing_migrants_df_2['dataset'] = 2
missing_migrants_df_3['dataset'] = 3

merged_df = pd.concat([missing_migrants_df_3, missing_migrants_df_2, missing_migrants_df])

# Check for duplicates
duplicates_mask = merged_df.duplicated(subset=subset, keep=False)

# Remove duplicates
unique_records_df = merged_df[~duplicates_mask]

# Display the unique records DataFrame
unique_records_df

,Incident Type,Year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,...,Rounded_Lon,dataset,Unnamed: 0,Main ID,Incident ID,Incident Date,URL,Source Quality,Web ID,Reported Date
0,Incident,2014,1,Central America,North America,Guatemala,1.0,0.0,1,0.0,...,-110.366,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-111.738,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-113.011,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Incident,2014,1,Central America,North America,Mexico,1.0,0.0,1,0.0,...,-109.316,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Incident,2014,1,Northern Africa,Europe,Sudan,1.0,0.0,1,2.0,...,28.000,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5972,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,1.879,1,NaN,NaN,NaN,NaN,http://bit.ly/1icTIF9,4.0,39373.0,"January 30, 2014"
5980,NaN,2014,1,NaN,Mediterranean,NaN,12.0,NaN,12,NaN,...,27.158,1,NaN,NaN,NaN,NaN,http://bit.ly/2aMCwfg,1.0,39403.0,"January 19, 2014"
5981,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-111.624,1,NaN,NaN,NaN,NaN,NaN,5.0,39258.0,"January 17, 2014"
5982,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-109.545,1,NaN,NaN,NaN,NaN,http://bit.ly/1qfIw00,5.0,39207.0,"January 16, 2014"
5983,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,27.859,1,NaN,NaN,NaN,NaN,http://bit.ly/1rTFTjR,1.0,39368.0,"January 16, 2014"

In [39]:
subset_rounded = ['Year', 'Reported Month', 'Region of Incident', 'Total Dead and Missing',
                      'Number Dead', 'UNSD Geographical Grouping', 'Cause of Death',
                      'Number of Children', 'Number of Males', 'Number of Females', 'Reounded_Lat', 'Rounded_Lon']
print("Shape before dropping duplicates:", unique_records_df.shape)
unique_records_df = unique_records_df.drop_duplicates(subset)
print("Shape after dropping duplicates:", unique_records_df.shape)

Shape before dropping duplicates: (25184, 32)
Shape after dropping duplicates: (25184, 32)

In [40]:
# Group by 'Year', 'Reported Month', and 'Dataset' and calculate the count of records
grouped = merged_df.groupby(['Year', 'Reported Month', 'dataset']).size().reset_index(name='Record Count')

# Pivot the grouped data to get the desired format
pivot_table = grouped.pivot_table(index=['Reported Month', 'Year'], columns='dataset', values='Record Count', fill_value=0)

# Rename the columns
pivot_table.columns = [f'Dataset {col}' for col in pivot_table.columns]

# Reset the index to make the pivot table more readable
pivot_table.reset_index(inplace=True)

pivot_table

     Reported Month  Year  Dataset 1  Dataset 2  Dataset 3
0                 1  2014         16         17         17
1                 1  2015         35         37         37
2                 1  2016        116        116        109
3                 1  2017        129        124        123
4                 1  2018        117        123        115
..              ...   ...        ...        ...        ...
110              12  2018         58         99         99
111              12  2019         27        141        137
112              12  2020          0         91         72
113              12  2021          0         89        140
114              12  2022          0          0        120

[115 rows x 5 columns]

In [41]:
jan_2015 = unique_records_df[(unique_records_df['Reported Month']==1) & (unique_records_df['Year']==2015)]

In [42]:
top_3_duplicates = jan_2015.sort_values(by='Number Dead', ascending=False).head(3)

In [43]:
top_3_duplicates.T

,338,328,5734
Incident Type,NaN,Incident,NaN
Year,2015,2015,2015
Reported Month,1,1,1
Region of Origin,NaN,Unknown,NaN
Region of Incident,North Africa,North Africa,North Africa
Country of Origin,NaN,Unknown,NaN
Number Dead,26.0,26.0,26.0
Minimum Estimated Number of Missing,NaN,0.0,NaN
Total Dead and Missing,26,26,26
Number of Survivors,NaN,0.0,NaN
Number of Females,NaN,0.0,NaN
Number of Males,NaN,0.0,NaN
Number of Children,NaN,0.0,NaN
Cause of Death,Harsh environmental conditions / lack of adequ...,Harsh environmental conditions / lack of adequ...,Harsh conditions
Migration route,Sahara Desert crossing,Sahara Desert crossing,NaN
Location of death,"Unspecified location, Libya","Unspecified location, Libya","Unspecified location, Libya"
Source,MHub,MHub,MHub
Coordinates,"26.239989, 12.913084","26.239989, 12.913084","26.239989000000, 12.913084000000"
UNSD Geographical Grouping,Northern Africa,Northern Africa,Northern Africa
Lat,26.239989,26.239989,26.239989
Lon,12.913084,12.913084,12.913084
Rounded_Lat,26.24,26.24,26.24
Rounded_Lon,12.913,12.913,12.913
dataset,2,3,1
Unnamed: 0,32.0,NaN,NaN
Main ID,2015.MMP00035,NaN,NaN
Incident ID,2015.MMP00035,NaN,NaN
Incident Date,"Sat, 01/31/2015 - 12:00",NaN,NaN
URL,"https://archive.vn/PXCXg, https://archive.vn/0...",NaN,NaN
Source Quality,2.0,NaN,2.0
Web ID,NaN,NaN,40596.0
Reported Date,NaN,NaN,"January 01, 2015"

In [44]:
subset_rounded = ['Year', 'Reported Month', 'Region of Incident', 'Total Dead and Missing',
                      'Number Dead', 'UNSD Geographical Grouping', 'Rounded_Lat', 'Rounded_Lon']
print("Shape before dropping duplicates:", unique_records_df.shape)
unique_records_df = unique_records_df.drop_duplicates(subset_rounded)
print("Shape after dropping duplicates:", unique_records_df.shape)

Shape before dropping duplicates: (25184, 32)
Shape after dropping duplicates: (14194, 32)

In [45]:
duplicated_indices = unique_records_df.index.duplicated(keep=False)

# Use boolean indexing to extract the records with duplicated indices
duplicated_records = unique_records_df[duplicated_indices]
duplicated_records.sort_index(ascending=True)

,Incident Type,Year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,...,Rounded_Lon,dataset,Unnamed: 0,Main ID,Incident ID,Incident Date,URL,Source Quality,Web ID,Reported Date
3,Incident,2014,1,Central America,North America,Mexico,1.0,0.0,1,0.0,...,-109.316,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2019,12,NaN,Middle East,NaN,7.0,NaN,7,64.0,...,42.739,1,NaN,NaN,NaN,NaN,"http://bit.ly/2ZG2Y19, http://bit.ly/2MLamDf, ...",3.0,52662.0,"December 26, 2019"
4,NaN,2019,12,NaN,Middle East,NaN,12.0,NaN,12,NaN,...,43.239,1,NaN,NaN,NaN,NaN,"http://bit.ly/2FjolvD, http://bit.ly/2sD42GR, ...",4.0,52661.0,"December 24, 2019"
4,Incident,2014,1,Northern Africa,Europe,Sudan,1.0,0.0,1,2.0,...,28.000,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,2019,12,NaN,US-Mexico Border,NaN,83.0,NaN,83,NaN,...,-99.428,1,NaN,NaN,NaN,NaN,NaN,5.0,52664.0,"December 20, 2019"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9895,Incident,2021,6,Southern Asia,South Asia,Afghanistan,1.0,0.0,1,0.0,...,51.101,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9898,NaN,2021,12,NaN,Southeast Asia,NaN,10.0,12.0,22,35.0,...,101.043,2,1262.0,2021.MMP0323,2021.MMP0323,"Sat, 12/25/2021 - 12:00","https://archive.vn/4ebRo, https://archive.vn/R...",3.0,NaN,NaN
9898,Incident,2021,6,Southern Asia,South Asia,Afghanistan,1.0,0.0,1,0.0,...,57.571,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9903,NaN,2021,9,NaN,Western Asia,NaN,NaN,1.0,1,NaN,...,26.464,2,1267.0,2021.MMP0328,2021.MMP0328,"Wed, 09/08/2021 - 12:00",NaN,2.0,NaN,NaN
9903,Incident,2021,6,Southern Asia,South Asia,Afghanistan,1.0,0.0,1,0.0,...,61.163,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
output_filename = 'data/merged_records.csv'
unique_records_df.to_csv(output_filename, index=False)
print(f"DataFrame has been written to {output_filename}")

DataFrame has been written to data/merged_records.csv

In [47]:
unique_records_df

,Incident Type,Year,Reported Month,Region of Origin,Region of Incident,Country of Origin,Number Dead,Minimum Estimated Number of Missing,Total Dead and Missing,Number of Survivors,...,Rounded_Lon,dataset,Unnamed: 0,Main ID,Incident ID,Incident Date,URL,Source Quality,Web ID,Reported Date
0,Incident,2014,1,Central America,North America,Guatemala,1.0,0.0,1,0.0,...,-110.366,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-111.738,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Incident,2014,1,Latin America / Caribbean (P),North America,Unknown,1.0,0.0,1,0.0,...,-113.011,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Incident,2014,1,Central America,North America,Mexico,1.0,0.0,1,0.0,...,-109.316,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Incident,2014,1,Northern Africa,Europe,Sudan,1.0,0.0,1,2.0,...,28.000,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5972,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,1.879,1,NaN,NaN,NaN,NaN,http://bit.ly/1icTIF9,4.0,39373.0,"January 30, 2014"
5980,NaN,2014,1,NaN,Mediterranean,NaN,12.0,NaN,12,NaN,...,27.158,1,NaN,NaN,NaN,NaN,http://bit.ly/2aMCwfg,1.0,39403.0,"January 19, 2014"
5981,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-111.624,1,NaN,NaN,NaN,NaN,NaN,5.0,39258.0,"January 17, 2014"
5982,NaN,2014,1,NaN,US-Mexico Border,NaN,1.0,NaN,1,NaN,...,-109.545,1,NaN,NaN,NaN,NaN,http://bit.ly/1qfIw00,5.0,39207.0,"January 16, 2014"
5983,NaN,2014,1,NaN,Europe,NaN,1.0,0.0,1,2.0,...,27.859,1,NaN,NaN,NaN,NaN,http://bit.ly/1rTFTjR,1.0,39368.0,"January 16, 2014"

In [48]:
unique_records_df['dataset'].value_counts()

dataset
3    11182
1     2546
2      466
Name: count, dtype: int64

## Key Takeaways
1. Comprehensive Source: Dataset 3 appears to be the most comprehensive, containing most of the records that are also in Datasets 1 and 2.

2. Redundancy: The lower number of unique records contributed by Datasets 1 and 2 suggests that they were mainly subsets of Dataset 3, or that there is a significant overlap between these datasets and Dataset 3.

3. The records from Datasets 1 and 2 extend Dataset 3

4. Data Integrity: This overlap could be a positive factor for data integrity, as it might imply a level of confirmation or validation for the records that appear in multiple datasets.